[2016-05-31 20:10] alorma commented on #435
Hi.

As far as i know, there's no way in the API to get only the contributed repositories :(

[2016-05-31 20:15] alorma commented on #429
Thanks!

I will check for the next release

[2016-06-01 14:49] pkramme opened #436 "No repositories found sign is flashing"
_Issue:_After opening the repositories tab, the sign "No repositories found" is flashing multiple times at the bottom, even if there are repositories.

_Steps to reproduce:_
Open the repository tab

_Screenshots_
![screenshot_bug_no_repository_found](https://cloud.githubusercontent.com/assets/19418956/15713921/b59b6cc4-2818-11e6-8dec-f5417e74110b.png)

[2016-06-01 14:54] alorma commented on #436
Hi.

I guess it's happening because you don't have repos in any of the other tabs... could you check it plz?

[2016-06-01 14:59] pkramme commented on #436
I don't have any in "Contributed" and "From Organizations". By the way, shouldn't there be something in Contributions when i make an issue like this, or is this only for pull requests?

[2016-06-02 15:13] nyancrimew commented on #428
Just wanted to report that too... For me it seems to always occur with every commit with more files than my phone is able to display at once.

OnePlus 2 with Marshmallow

[2016-06-02 19:42] shyim commented on #434
Same is on Commit View

[2016-06-02 20:15] alorma commented on #434
Thanks!

[2016-06-03 07:52] alorma commented on #431
Yay! Good news!

Github team updated the API, and now i can get the commits list with verification :)

[2016-06-03 08:53] alorma commented on #434
Same in PR screen

[2016-06-03 08:57] alorma opened #438 "Add option to set checkboxes"
Once edit an issue, PR, or comment, add checkbox options

[2016-06-03 10:01] alorma commented on #414
Improvement: show milestone in issues list

[2016-06-03 13:12] GeorgeWL opened #439 "Upload image and insert link, Github style"
I feel that, as a feature, the ability to upload directly into a comment and have the app convert to a Github upload and then have it link it automatically would be a great feature.

[2016-06-03 13:27] alorma commented on #439
https://github.com/gitskarios/Gitskarios/pull/437

:)

[2016-06-03 13:32] pkramme commented on #431
Great!

[2016-06-03 13:37] GeorgeWL commented on #439
Pity that the github as API doesn't really have any support for image upload, cause I'd rather imgur didn't get even more money from the adverts.

[2016-06-03 16:17] alorma commented on #431
Uploading ...

[2016-06-03 16:18] alorma commented on #434
Hi @shyim i just uploaded a new version to beta, could you test it?

[2016-06-03 16:39] shyim commented on #434
Thanks. I will try it when  it is available. Play store is so slow

[2016-06-03 17:42] alorma commented on #432
Close, working on it:

https://github.com/gitskarios/Gitskarios/issues/432

[2016-06-03 17:42] #432 closed, assigned to nobody

[2016-06-03 17:42] alorma commented on #439
Close, work and comment on https://github.com/gitskarios/Gitskarios/issues/432

[2016-06-03 17:42] #439 closed, assigned to nobody

[2016-06-03 17:44] #427 closed, assigned to nobody

[2016-06-03 17:44] alorma commented on #427
Cierro este issue.

Estoy trabajando en lo de subir imagenes

[2016-06-03 18:25] #428 closed, assigned to nobody

[2016-06-03 18:26] alorma commented on #428
Hope this is fixed now guys!

[2016-06-03 21:17] shyim commented on #434
Looks fine

[2016-06-03 21:18] shyim opened #442 "UserView Avatar is cutted"
Screenshot

![](http://i.imgur.com/zIOU65d.jpg)

[2016-06-03 21:29] alorma commented on #434
https://github.com/gitskarios/Gitskarios/issues/442

[2016-06-03 21:53] chenzhuwei commented on #434
这个什么

陈助威

上海软慧信息技术有限公司

18516527207

上海市闵行区虹桥镇合川路2679号（虹桥国际商务广场B座5F）

------------------ 原始邮件 ------------------
发件人: "Bernat Borrás Paronella";
发送时间: 2016年6月4日(星期六) 凌晨5:29
收件人: "gitskarios/Gitskarios";
主题: Re: [gitskarios/Gitskarios] New themes colors issues (#434)

#442

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or mute

[2016-06-03 22:06] shyim commented on #431
Sometimes when a commit is signed the app is crashing

Build version: 2.14.4
Build date: 2016-06-03 16:27:44
Current date: 2016-06-04 00:02:59
Device: Asus Nexus 7

Stack trace:
java.lang.NullPointerException: Attempt to read from field 'com.alorma.github.sdk.bean.dto.response.GitCommitVerification com.alorma.github.sdk.bean.dto.response.GitCommit.verification' on a null object reference
    at co

[2016-06-03 22:11] alorma commented on #431
Will check! Thanks

[2016-06-03 22:34] #431 closed, assigned to alorma

[2016-06-03 22:34] alorma commented on #431
Done

[2016-06-04 09:35] shyim opened #444 "Issue creating on App"
The App should load the .github/ISSUE_TEMPLATE.md automatically to the Comment Field, when the file exists like in the web version.

[2016-06-04 11:54] shyim commented on #434
I found a new color issues on RepoView:
Gif: http://i.imgur.com/1frpckk.gifv

[2016-06-04 13:05] alorma commented on #414
Done, available from issues list

[2016-06-04 15:02] LER0ever opened #447 "Crash on first start"
_Issue:_
Crashes on first start

Here is my Log. I am not good at Android dev, so i cannot make any solution after skimming the log

Build version: 2.13.2
Build date: 2016-05-24 20:14:46
Current date: 2016-06-04 22:59:38
Device: OnePlus A2001

Stack trace:
java.lang.RuntimeException: Unable to start activity ComponentInfo{com.alorma.github/com.alorma.github.ui.activity.MainActivity}: java.lang.Nul

[2016-06-04 15:13] alorma commented on #447
Try updating to the lateste version 2.13.6, plz :)

[2016-06-04 15:33] LER0ever commented on #447
thank you, i didn't notice the update and it's working fine(2.13.6)

[2016-06-04 15:33] #447 closed, assigned to nobody

[2016-06-04 18:18] #414 closed, assigned to alorma

[2016-06-04 18:18] alorma commented on #436
Should be fixed, if not, please reopen

[2016-06-04 18:19] #436 closed, assigned to nobody

[2016-06-04 20:32] pkramme commented on #436
Thank you!

[2016-06-05 13:30] #429 closed, assigned to alorma

[2016-06-05 13:49] alorma commented on #434
Done with that one :P

[2016-06-06 13:53] Koitharu opened #448 "Incorrect "no repositories found" snackbar"
The snackbar "no repositories found" shows always, even when I have repos in list

[2016-06-06 21:43] pkramme commented on #448
Already fixed, but not shipped. #436

[2016-06-07 09:20] Koitharu commented on #448
Ok. thanks

[2016-06-07 11:01] shyim commented on #448
You can also join the Beta and you will receive Updates faster :)
https://plus.google.com/u/0/communities/100177663530836613291

[2016-06-07 13:12] pkramme commented on #448
@shyim Can't you just download the latest versions directly from GitHub? Like here: [v4.8.3](https://github.com/gitskarios/Gitskarios/releases/tag/v.2.8.3)

[2016-06-07 16:47] alorma commented on #434
Hi @shyim

I'm thinking about **Assigned issues** page, should it be green? Issues are something inside of repository, but not sure about it

[2016-06-07 19:20] #434 closed, assigned to alorma

[2016-06-07 19:20] #442 closed, assigned to nobody

[2016-06-07 19:59] shyim opened #449 "Test notifications"

[2016-06-08 10:34] mattsage opened #450 "Since update I cannot open my repositories - please help. thanks!"
Build version: 2.14.9
Build date: 2016-06-07 19:22:26
Current date: 2016-06-08 11:33:44
Device: LGE Nexus 5

[2016-06-08 14:51] shyim opened #451 "After Accepting Pullrequest no action"
_Issue:_
After Pressing on Button "Merge" the app shows no interaction. I must go back to the Repository and again in the Pull Request to show the result :)

_Steps to reproduce:_
Go to any Pull Request and Press "Merge"

[2016-06-08 16:14] alorma commented on #451
Thks!

[2016-06-08 16:16] alorma commented on #450
Hi.

Does it apply?

[2016-06-09 11:20] droped opened #452 "Crash when viewing starred repos"
Android version: Cm13 which is on android 6.0.1
Error details:

Build version: 2.14.9
Build date: 2016-06-07 19:22:26
Current date: 2016-06-09 12:17:09
Device: LGE LG-D855

Stack trace:
java.lang.IllegalStateException: Fatal Exception thrown on Scheduler.Worker thread.
    at rx.internal.schedulers.ScheduledAction.run(ScheduledAction.java:62)
    at android.os.Handler.handleCallback(Handler.java:7

[2016-06-09 15:18] mattsage commented on #450
Yes it does but i was worried about personal details in the output log.

The App crashed with a picture of a ladybird every time i open up my "repositories "

[2016-06-09 15:19] alorma commented on #450
mmmmm ok, that's not cool.

Can you send me the log via mail? gitskarios@gmail.com, i will help you!

[2016-06-09 15:35] mattsage commented on #450
Yeah sure, please see log attached.
Thanks for your hard work!
Build version: 2.14.9
Build date: 2016-06-07 19:22:26
Current date: 2016-06-09 16:31:35
Device: LGE Nexus 5
Stack trace: 
java.lang.IllegalStateException: Fatal Exception thrown on Scheduler.Worker thread.
    at rx.internal.schedulers.ScheduledAction.run(ScheduledAction.java:62)
    at android.os.Handler.handleCallback(Handler.java:73

[2016-06-09 16:56] #450 closed, assigned to nobody

[2016-06-09 16:58] alorma commented on #450
Fixed on 2.14.10 available in few hours

[2016-06-09 17:26] mattsage commented on #450
Wow thank you so much! Really appreciate it!
On 9 Jun 2016 17:58, Bernat Borrás Paronella notifications@github.com wrote:Fixed on 2.14.10 available in few hours

—You are receiving this because you modified the open/close state.Reply to this email directly, view it on GitHub, or mute the thread.

[2016-06-09 18:29] shyim opened #453 "Single file download"
It were cool when we can download single files too, instead the complete repository

[2016-06-09 18:34] alorma commented on #453
Yes, cool!

[2016-06-09 19:10] alorma commented on #452
Fixed at 2.14.10

[2016-06-09 19:10] #452 closed, assigned to nobody

[2016-06-09 19:11] #448 closed, assigned to nobody

[2016-06-10 03:41] kostrse opened #454 "Slow navigation between directories"
On slow internet navigation back and forth between directories is very slow. Please cache them, at least for timespan while user has the repo opened. Force refresh only when user does "swipe-down" refresh gesture. The same behavior in Google Drive app. Or display cached directory structure unless you received updated one from the server.

[2016-06-10 05:31] pkramme commented on #454
Great idea!

[2016-06-10 07:23] alorma commented on #454
Hi

Directories are cached as soon as app receive them.

But, i agree it's slow, and i'm planning to do something with it (download all the tree, as github api provides)

Will keep informed

[2016-06-10 08:56] kostrse commented on #454
Probably no need to download all the tree...

Feels like really slow when visiting the exactly same directories back and forth...
Maybe cache doesn't work for some reason?

[2016-06-10 09:22] alorma commented on #454
I will check

[2016-06-11 11:55] chrpme opened #455 "Unsubscribe from thread"
Unsubscribe from thread at the notifications page doesn't work. In fact it seems as you will subscribe, not unsubscribe.

[2016-06-11 12:07] lawloretienne opened #456 "can't view repositories. it keeps crashing."

[2016-06-13 11:25] pkramme commented on #456
Please add more info!

[2016-06-13 14:56] lawloretienne commented on #456
I think the latest update fixed the issue.
On Jun 13, 2016 4:25 AM, "Paul Kramme" notifications@github.com wrote:

[2016-06-13 14:59] alorma commented on #456
close the issue if is not crashing, plz

[2016-06-14 14:22] jgkamat opened #457 "Cannot log in with passwords having special characters"
My password on gh has a bunch of special characters, and I get a "error login"  message when trying to login to the app. My password has some of these characters: `':%$&() =+/-_!? *",. #;@` as well as the backtick:` itself

Let me know if you cannot reproduce

[2016-06-14 14:52] matthieugrieger opened #458 "Inconsistent theming when using dark theme"
Hi there,

First of all, great app! Probably the best GitHub Android client I've used so far.

I've come across some issues with UI styling when using the dark theme. Below is a link that shows some screenshots of what I'm talking about:

https://imgur.com/a/wQKaG

I'm not sure if the coloring on the README is intentional, but in any case it is a bit straining on the eyes when viewing it at night,

[2016-06-14 15:06] alorma commented on #458
Hi.

Thanks for that screenshots!

I will check later, and publish a new release

[2016-06-14 15:06] alorma commented on #457
Hi.

I will check later :)

[2016-06-14 22:45] JonatanSalas opened #459 "Caching organization repo"
If you search for a particular organization you can see correctly the repos that it has. But if you search or look into a new organization, you will find that it retrieves the repos of the first you have entered.

This sometimes happens when you look into a normal github user!

Hope you can solve this! This app is amazing

[2016-06-15 00:04] f3rland opened #460 "Error opening a gist file"
Getting an error when trying to view a gist file

[2016-06-15 05:39] matthieugrieger commented on #458
Thanks for the update, the issue view looks great now. :) Just two other minor things that I've noticed:

The text on READMEs is now a bit hard to read as the font color is black on a gray background: http://i.imgur.com/DXdAwBN.png

Also, when submitting issues the bar at the bottom is still white:
http://i.imgur.com/p4ZS663.png

I hope I'm not coming across as overly nitpicky; just want to help o

[2016-06-15 08:25] Dafnik opened #461 "crash on class open"
Build version: 2.14.11
Build date: 2016-06-14 19:31:46
Current date: 2016-06-15 10:24:56
Device: HTC One

Stack trace:
java.lang.RuntimeException: Unable to start activity ComponentInfo{com.alorma.github/com.alorma.github.ui.activity.FileActivity}: java.lang.IllegalArgumentException: bad base-64
    at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:2358)
    at android.app.Ac

[2016-06-15 08:41] alorma commented on #460
Please, provide more info

[2016-06-15 08:41] alorma commented on #459
what's your app version?

[2016-06-15 08:42] alorma commented on #458
It should be white o_o

I will update the markdown renderer today, hope it fixes

[2016-06-15 08:51] alorma commented on #461
Please, provide me a link example so i can reproduce

[2016-06-15 10:48] f3rland commented on #460
![](http://i63.tinypic.com/11wg8et.png)

[2016-06-15 11:08] alorma commented on #460
Wooops!

[2016-06-15 13:44] alorma commented on #460
Fixed in v.2.14.12

[2016-06-15 13:44] #460 closed, assigned to nobody

[2016-06-15 13:45] alorma commented on #461
Should be fixed in v.2.14.12

[2016-06-15 13:45] #461 closed, assigned to nobody

[2016-06-15 13:45] alorma commented on #458
Color of readme fixed

Only the issue editor remains white

[2016-06-15 13:47] alorma commented on #458
Reactions still white

[2016-06-15 13:55] matthieugrieger commented on #458
Just updated, markdown rendering is fixed. :)

[2016-06-15 15:06] simonsmh opened #462 "cannot view repositories"
Build version: 2.14.12 Build date: 2016-06-15 12:42:16 Current date: 2016-06-15 23:05:26 Device: Xiaomi Mi-4c Stack trace: java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String com.alorma.github.sdk.core.User.getLogin()' on a null object reference    at com.alorma.github.ui.fragment.repos.ReposAdapter.onBindViewHolder(ReposAdapter.java:36)  at com.alorma.github.ui.frag

[2016-06-15 18:33] #462 closed, assigned to nobody

[2016-06-15 18:33] #456 closed, assigned to nobody

[2016-06-15 18:50] #451 closed, assigned to nobody

[2016-06-15 19:35] jgkamat commented on #457
I did a little bit of testing and I think that percent:% seems to be one offending character
It could be more, but any password with a % definitely fails

I _think_ this is failing on the one just pushed to Google play

[2016-06-15 19:41] alorma commented on #457
Mmmm

I just checked with a test account the password `aaaa%aaaa1` and it seems to work.

Could you provide a failing password?

[2016-06-15 19:47] davidschreiber opened #463 "Leaving source code view resets repository activity"
When navigating through the sources of a repository, and then clicking a Java file a source code viewer is opened. When leaving the source code viewer either by pressing back, or by pressing the back button in the action bar the current repository repo is reset to the first tab (repo overview). When navigating to the file tree tab it is again at the repository root (while previously it was navigat

[2016-06-15 19:57] JonatanSalas commented on #459
After updating the application this stop, so maybe I was using a non-updated versión!

[2016-06-15 20:04] shyim opened #464 "Show Commits of a Issue"
When i am looking on a issue on the app, i cant see the referenced commits with the issue. Most time i cant understand why the issue is now closed :D

App:
![](http://i.imgur.com/irouJFS.png)

Desktop:
![](http://i.imgur.com/saWPBSi.png)

[2016-06-15 20:28] alorma commented on #464
Yes you r right

I disabled it a long time ago, i have to reenable

[2016-06-15 21:42] jgkamat commented on #457
~~`Aaaaaaa"3aa` seems to fail for me.~~

I made a mistake before, I hadn't restarted the app when I updated it. The % char seems to work now.

You can also reproduce this w/o changing your password, as the request itself dosent send

EDIT: actually somethings wrong on my end, give me a few minutes.

[2016-06-15 22:03] jgkamat commented on #457
Ok, I think this password is failing for me too:
`jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj`

I think that's 60 js? My password is very long :/

I wasn't able to figure out the maximum length, but im pretty sure my password is hitting this too

Thanks for looking into this! =D

[2016-06-17 04:01] jonathanmaron opened #466 "Source code is not displayed correctly"
When I click on a file (a PHP file) the source code viewer is opened, and the file is displayed. However the file is heavily truncated. Only about 6 lines are displayed. Furthermore the background is dark yet I have the light theme enabled. This problem did you not exist in the previous version of the app.

[2016-06-17 04:10] jonathanmaron commented on #466
Screenshot of the issue:
https://s3.amazonaws.com/o3cxerf5/Public/jwpsh5kh/20160617060354.png

The screenshot shows the display of this file:
https://github.com/TextControl/txtextcontrol-reportingcloud-php/blob/master/src/Filter/DateTimeToTimestamp.php

[2016-06-17 15:13] simonsmh opened #467 "Error in repository list"
Build version: 2.14.13
Build date: 2016-06-15 19:02:34
Current date: 2016-06-17 23:13:27
Device: OnePlus ONEPLUS A3000

Stack trace:
java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String com.alorma.github.sdk.core.User.getLogin()' on a null object reference
    at com.alorma.github.ui.fragment.repos.ReposAdapter.onBindViewHolder(ReposAdapter.java:36)
    at com.alorma.

[2016-06-17 17:05] #467 closed, assigned to nobody

[2016-06-17 17:11] #453 closed, assigned to shyim

[2016-06-17 17:19] alorma commented on #466
Ok.

It seems is a problem with the `<?php`, i've opened an issue in the highlight library that i use:

https://github.com/PDDStudio/highlightjs-android/issues/2

[2016-06-17 17:20] alorma commented on #459
Reopen just for test purpose

[2016-06-17 17:41] #459 closed, assigned to alorma

[2016-06-17 17:41] #464 closed, assigned to nobody

[2016-06-17 17:45] #463 closed, assigned to nobody

[2016-06-17 17:45] alorma commented on #463
Done

[2016-06-18 08:03] simonsmh opened #468 "error in repository - starred"
Build version: 2.14.14 Build date: 2016-06-17 17:54:52 Current date: 2016-06-18 16:02:49 Device: OnePlus ONEPLUS A3000 Stack trace: java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String com.alorma.github.sdk.core.User.getLogin()' on a null object reference   at com.alorma.github.ui.fragment.repos.ReposAdapter.onBindViewHolder(ReposAdapter.java:36)  at com.alorma.github

[2016-06-18 08:04] simonsmh commented on #468
Thanks for your hard work!

[2016-06-18 10:21] #468 closed, assigned to nobody

[2016-06-18 13:08] simonsmh opened #469 "error in repository-stared when scrolling"
Build version: 2.15.0 Build date: 2016-06-18 11:41:14 Current date: 2016-06-18 21:07:29 Device: OnePlus ONEPLUS A3000 Stack trace: java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String com.alorma.github.sdk.core.User.getLogin()' on a null object reference    at com.alorma.github.ui.fragment.repos.ReposAdapter.onBindViewHolder(ReposAdapter.java:38)  at com.alorma.github

[2016-06-18 13:27] Unpublished opened #470 "Error while loading profile page"
Probably because of an empty avatar?

Build version: 2.15.2
Build date: 2016-06-18 16:45:52
Current date: 2016-06-21 15:44:31
Device: Htc HTC One_M8 dual sim

Stack trace:
`java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.equalsIgnoreCase(java.lang.String)' on a null object reference
    at com.alorma.github.ui.activity.ProfileActivity.createLauncherIntent

[2016-06-18 16:17] #469 closed, assigned to nobody

[2016-06-18 16:40] jgkamat commented on #457
Can you reproduce this, or should I double check my version?

[2016-06-18 16:41] alorma commented on #457
I cannot reproduce it :S I will check later again

[2016-06-18 18:22] jgkamat commented on #457
I just shortened my password to about 40 characters and that fixed it. This can be closed if you still can't reproduce this

[2016-06-19 14:19] GeorgeWL opened #471 "[Request] Explore active repositories"
I'd just rather like to have that feature that's on the web version added to this app.

 https://github.com/explore

[2016-06-20 09:14] aballano opened #472 "[Crash] Cannot open "login with github" from external app"
_Steps to reproduce:_
Install https://github.com/hrules6872/GitEgo, try to "login github", nothing happens

_Crash (optional):_
06-20 11:08:55.959 3027-3027/? W/System.err: java.lang.IndexOutOfBoundsException: Invalid index 0, size is 0
06-20 11:08:55.959 3027-3027/? W/System.err:     at java.util.ArrayList.throwIndexOutOfBoundsException(ArrayList.java:255)
06-20 11:08:55.959 3027-3027/? W/System.

[2016-06-20 11:17] vicky2102 commented on #336
What was the problem?

[2016-06-21 12:36] GeorgeWL commented on #470
nah,  avatar has no effect on it, I had an empty avatar for ages.

Try cleaning up the format of your comment for us, so it's easier for us to figure out what the code says?

[2016-06-21 16:14] alorma commented on #470
I don't know why, but in last times, some fields (user) are retrieved as null

I have to investigate why

[2016-06-22 15:22] #472 closed, assigned to nobody

[2016-06-22 15:25] #470 closed, assigned to nobody

[2016-06-23 20:57] alorma commented on #458
Milestones activity:

![Screenshot_20160623-225653.png](http://i.imgur.com/Km9HOIW.png)

[2016-06-23 20:58] alorma commented on #471
Sadly, there's no API for that

[2016-06-23 20:58] #471 closed, assigned to nobody

[2016-06-24 10:04] GeorgeWL commented on #471
ah that's such a pity.

ah well.
I wonder if there's a feature request thing for github api.

best i could find is a https://github.com/contact

[2016-06-25 17:35] GeorgeWL opened #473 "loss of line breaks when tab out"
**_2 Upvotes**_ Android M
Gitskarios 2.15.3
Sony Xperia Z5 (standard)

For example, I can put in formatting for this line break.

Then when tab out, they're gone.
 And have to reformat again.

 Doesn't seem to effect any other markup however, like code blocks, links etc, only line breaks.

[gfycat gif](https://gfycat.com/QuarterlySpotlessAfricanclawedfrog)

[2016-06-25 18:46] GeorgeWL commented on #458
I'd suggest for the bit below editor to rather go for a slate grey, so that it's obviously a separate element but not such a stark contrast.

[2016-06-26 14:22] pkramme opened #474 "Edit files in app"
Please make it possible to edit files in app.

[2016-06-26 16:47] GeorgeWL commented on #474
I don't really feel that's the point of the app though.

[2016-06-26 19:04] pkramme commented on #474
Not my opinion. It's extremly annoying when i see a mistake in a README or something, and then whem im going to correct this, i have to start a laptop, or github on my smartphone in webview, because i can't fix one single error. It doesn't have to be a full IDE or a dev text editor, just something like in the webversion of github.

[2016-06-29 22:41] GeorgeWL commented on #473
:+1:

[2016-07-01 23:30] cj opened #475 "notifications"
Notifications aren't showing in android 6 (Pixel C)

[2016-07-03 14:51] pkramme opened #476 "Codeview missbehaving"
![Screenshot_2016-07-03-10-49-11.png](http://i.imgur.com/si84xUU.png)
![Screenshot_2016-07-03-10-49-03.png](http://i.imgur.com/0nOD9oP.png)
The '#include' part is somehow missing.

[2016-07-03 16:01] alorma commented on #476
Link to file?

[2016-07-03 16:01] alorma commented on #473
👍  will check

[2016-07-03 16:15] pkramme commented on #476
https://gist.github.com/paulkramme/5b482deaea7f1ca0e1b29050b1a40f3a

On Sun, Jul 3, 2016, 12:01 Bernat Borrás Paronella notifications@github.com
wrote:

Paul Kramme

[2016-07-03 16:15] alorma commented on #476
Thanks

[2016-07-03 23:09] GeorgeWL commented on #455
What do you mean?

[2016-07-03 23:09] GeorgeWL opened #477 "states that comment failed then posts comment anyway."
**_1 Upvote**_ Example https://gfycat.com/CaringYawningHoneybadger

This happens every time consistently.

[2016-07-03 23:14] GeorgeWL commented on #474
Oh actually yeah that makes perfect sense :+1:

[2016-07-03 23:30] pkramme commented on #474
I'm not quite sure if you're joking or not...

[2016-07-04 02:15] pkramme commented on #476
![Screenshot_2016-07-03-22-13-57.png](http://i.imgur.com/tsxeAEM.png)
Same applies for same content in repository. I'm gonna rename issue.

[2016-07-04 02:19] pkramme commented on #476
All .xml files i tried wont work. Test file: https://github.com/Minitour/crofis-android-uikit/blob/master/ui/src/main/res/drawable/background_fill.xml
![Screenshot_2016-07-03-22-18-20.png](http://i.imgur.com/liukwLc.png)

[2016-07-04 13:07] GeorgeWL commented on #474
Yes

[2016-07-04 13:08] GeorgeWL commented on #477
:+1:

[2016-07-04 13:09] pkramme commented on #474
Yes, you are joking?

[2016-07-04 14:12] GeorgeWL commented on #474
No,I'm not joking, but I was joking when I decided to answer Yes to a question was not boolean.

I didn't realise the usefulness as I assumed that you meant for code,  and having tried out code editing on mobile,  it's infuriating.

But then you made me realise that sometimes it can be very useful, especially for small edits like you mentioned.

[2016-07-04 14:15] pkramme commented on #474
Ah ok... Your former message sounded a bit like you were joking. But now
it's alright. :)

[2016-07-04 14:29] alorma commented on #474
Ok guys. Stop joking! :)

I will think about it

[2016-07-04 14:48] pkramme commented on #474
Thanks! Couldn't you combine it with the codeview issue, because if you'd
rework that into a minimal editor, it would spare development time and
improve simplicity, right?

[2016-07-04 14:51] alorma commented on #474
sure, i will fix the other one first

[2016-07-05 04:37] enj commented on #457
I am having this same issue - I also have a super long password with all character types.

[2016-07-05 04:58] alorma commented on #477
Test

Test

[2016-07-05 04:58] alorma commented on #477
Fixed!

[2016-07-05 04:59] #473 closed, assigned to nobody

[2016-07-05 05:00] #477 closed, assigned to alorma

[2016-07-05 09:08] GeorgeWL commented on #477
What was the cause in the end?

[2016-07-05 09:13] alorma commented on #477
A string error :P

[2016-07-05 09:26] alorma commented on #474
Work in progress :)

[2016-07-05 10:29] alorma commented on #474
Uploading a new beta release, with create files and edit files 💃
@paulkramme
@georgiel

[2016-07-05 12:39] pkramme commented on #474
Were can i find it?
EDIT: Found.

[2016-07-05 12:42] pkramme commented on #474
And thank you! Your support is awesome.

[2016-07-05 13:03] shyim commented on #474
Looks fine, but we should Display the filename as title and not the content :)
http://i.imgur.com/1kNGLKW.jpg

[2016-07-05 13:07] pkramme commented on #474
Isn't this bottom orange line for single line input fields only?

[2016-07-05 13:07] alorma commented on #474
@paulkramme: you should join the beta community: https://plus.google.com/communities/100177663530836613291

[2016-07-05 13:07] alorma commented on #474
Omg :shyim!

[2016-07-05 13:09] alorma commented on #474
The bottom line is ther for every "comment" you send throught app

[2016-07-05 13:13] pkramme opened #478 "Zoom and Pinch for Codeviewer"
Yea... Don't really know what to say here.

[2016-07-05 13:17] pkramme commented on #474
When i open README.md (Markdown)
![Screenshot_2016-07-05-09-14-53.png](http://i.imgur.com/fmmvuGp.png)
Its somehow HTML:
![Screenshot_2016-07-05-09-15-17.png](http://i.imgur.com/4tP7BWp.png)

[2016-07-05 13:19] alorma commented on #474
Mmm

That's not cool :(, i guess i know why is that, but will be somehow hard to fix.

Thanks

[2016-07-05 16:26] pkramme opened #479 "Crash"
Build version: 2.16.0
Build date: 2016-07-05 12:28:38
Current date: 2016-07-05 12:25:24
Device: Samsung SM-G900F

Stack trace:
java.lang.IllegalStateException: Fatal Exception thrown on Scheduler.Worker thread.
    at rx.internal.schedulers.ScheduledAction.run(ScheduledAction.java:62)
    at android.os.Handler.handleCallback(Handler.java:739)
    at android.os.Handler.dispatchMessage(Handler.java:

[2016-07-05 16:27] pkramme opened #480 "Add Automatic Reload after eg commit, issue creation..."

[2016-07-05 16:29] alorma commented on #479
Fixed

[2016-07-05 16:30] alorma commented on #480
Please, explain this issue

[2016-07-05 16:30] #479 closed, assigned to nobody

[2016-07-05 16:31] pkramme commented on #479
Watch out! We have a Quicksilver over here!

No joke, you are really fast with this. Thank you.

[2016-07-05 16:33] pkramme commented on #480
When i make a commit after a filechange or when i create an issue i have to
reload before i can see it. It takes only .25 seconds to reload i know, but
it would be nice to have.

[2016-07-05 16:37] alorma commented on #474
Fixed markdown edit problem @paulkramme

[2016-07-05 16:40] pkramme commented on #474
Thank you very much!

[2016-07-05 18:33] alorma commented on #474
New beta version

[2016-07-05 19:01] pkramme opened #481 "Problems with Eventmanaging"
I can't really explain...
![Screenshot_2016-07-05-14-56-36.png](http://i.imgur.com/QgXNda2.png)

[2016-07-05 19:22] alorma commented on #481
I can u_u

What events are? I will try to fix

[2016-07-05 19:24] alorma commented on #481
![Screenshot_20160705-212313.png](http://i.imgur.com/eay2juT.png)

That's caused because there are some events that aren not handled.

I will fix later

[2016-07-05 20:59] pkramme commented on #481
I think these are wiki edits... I will check when i'm back at my laptop.

[2016-07-06 01:23] pkramme opened #483 "MIT License improvement"
As i just found out: The MIT License, to be more specific, this part

`The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.`

states that you have to include the MIT License within every part, that means every file, to be fully covered.
Hope this can help.

[2016-07-06 01:26] pkramme commented on #476
I will close this as this is a duplicate of #466

[2016-07-06 01:26] #476 closed, assigned to nobody

[2016-07-06 13:23] alorma commented on #474
Hey guys.

What do you think? It's ok to release it?

[2016-07-06 13:31] pkramme commented on #474
One more issue: I can't scroll completly to the bottum when the keyboard is opened.
![Screenshot_2016-07-06-09-27-54.png](http://i.imgur.com/3trrb7b.png)
Then i have to close the keyboard and reopen it by clicking somewhere i couldnt access before.

[2016-07-06 13:32] alorma commented on #474
Ok, thanks

I will fix it in a couple of days (holiday time)

[2016-07-06 13:33] pkramme commented on #474
Ok. Have Fun!

[2016-07-06 15:53] pkramme commented on #474
Issue: No matter on which branch the app is, the editor uses default only.

[2016-07-06 16:39] shyim commented on #481
I had it often too, most cases it was a comment on a commit line

[2016-07-06 18:54] alorma commented on #474
Ops! That is bad!

I will fix it asap

[2016-07-06 22:25] GeorgeWL commented on #473
Closed because figured it out or not repeatable?

[2016-07-06 23:10] alorma commented on #473
C/osed because fixed

[2016-07-07 01:27] GeorgeWL opened #484 "unable to load issue threads with lots of comments."
I noticed this on the "edit from within app" issue, that since the comment chain increased past a certain length it doesn't seem to load when I open, just a loading animation.

I'm not sure if it will eventually load, but left it going for about a minute and a half with no load.

[2016-07-07 11:53] #449 closed, assigned to nobody

[2016-07-07 13:06] pkramme commented on #484
Happens for me too. I tried for about 10 Minutes for testing this.

[2016-07-07 13:44] GeorgeWL commented on #483
I think that the "substantial portions" means it can be fine with just a short mention in each sizeable module that's used.

[2016-07-07 13:46] pkramme commented on #483
IMO it's every part that contribute to the project, so every file. But if
you don't think its necessary i'll close it.

[2016-07-07 13:49] pkramme commented on #483
Which leads to the creation of a new issue: I can't close it :D

[2016-07-07 13:50] pkramme opened #485 "Add closing function for own issues"
I can't close my own issues.

[2016-07-07 13:50] pkramme commented on #485
I can't close my own issues.

[2016-07-07 14:13] GeorgeWL opened #486 "readme.rst files aren't displayed correctly"
_Issue:_
I've not seen many projects with them because the .md filetype is far more common, but on those that do use it, the visual elements aren't parsed correctly.

 App version - 2.15.3
Git build hash from settings:
ab0207e

Device

xperia z5 standard

Device android version

android M

_Steps to reproduce:_
open a github project which uses a readme.rst rather than a readme.md such as https://g

[2016-07-07 14:23] GeorgeWL commented on #483
not an issue @paulkramme , GitHub allows organisations/repositories to
decide on roles and one of the options (which gitskarios uses for theirs)
is to only allow approved users to close issues.

On Thu, 7 Jul 2016 at 14:49 Paul Kramme notifications@github.com wrote:

[2016-07-07 14:24] GeorgeWL opened #487 "add functionality option to open images in modal style within app"
Just think it's a nice addition, in the same style as this for example
![Screenshot_20160707-152049.png](http://i.imgur.com/QXGejC3.png)

[2016-07-07 14:31] pkramme commented on #483
Yes but it's my issue, isnt it?

[2016-07-07 14:32] GeorgeWL commented on #485
this is a part of github, not gitskarios, it's not possible on the desktop version either.

Approved submitters can close them however.

[2016-07-07 14:34] pkramme commented on #485
Nope, this was the webversion

[2016-07-07 14:35] GeorgeWL commented on #485
oh, seems I'm wrong, huh, didn't even know you could do that.

[2016-07-07 14:37] GeorgeWL commented on #475
give us more details please, your gitskarios version etc.

[2016-07-07 15:04] alorma commented on #484
Yes. Reproduced

[2016-07-07 15:06] alorma commented on #485
Yes, users who opened an issue can close it afaik

I will check

[2016-07-07 21:04] pkramme commented on #483
If this has still relevance, i've [developed a little script](https://github.com/paulkramme/mit-license-adder) which could do this job.

[2016-07-07 21:07] pkramme commented on #487
I don't like the idea... The pictures are already shown, so what's the point?

[2016-07-08 08:15] GeorgeWL commented on #487
Quite simple,  the pictures are already shown but only in thumbnail.  Which isn't particularly useful for images with lots of detail, and in my opinion it detracts from the experience when you have to open a thumbnail in browser.

And I did suggest that if should be made as an optional part of the ui, as I'm well aware that not everyone likes that method, but quite a lot do.

[2016-07-08 08:22] GeorgeWL commented on #487
And by optional I just mean turn it on or off with a checkbox.

[2016-07-08 10:34] alorma commented on #487
I like the idea, i will think about it.

Btw guys, do you want to join gitskarios as contributors?

[2016-07-08 12:47] pkramme commented on #487
Sure!

[2016-07-08 12:51] pkramme commented on #487
You have a point @Georgiel.

[2016-07-08 12:52] alorma commented on #487
Added @paulkramme! Now you can write in gitskarios itself

[2016-07-08 13:10] pkramme commented on #487
Thank you!

[2016-07-08 13:52] GeorgeWL commented on #487
hmm, alright. tbh, not sure what I'd do, I have basically no experience in writing for mobile apps, still an undergrad.

[2016-07-08 13:58] pkramme commented on #487
Doesn't matter... I do not have Android experience to, but i'm trying to
learn. And this is the best place to do. Just trust yourself and try to fix
basic issues. And after that you could go further.

[2016-07-08 15:25] alorma opened #489 "Slack for gitskarios"
Hey!<br /><br />If you want to discuss something about gitskarios, i have a Slack!<br /><br />http://gh-apps.slack.com<br /><br />@paulkremmer<br />@georgiel

Add a comment if you want to join

[2016-07-08 15:31] pkramme commented on #489
Yes, i'd like to join, more collaboration is better, isn't it, but doesn't it cost something?

[2016-07-08 15:33] alorma commented on #489
No, slack is free with some limitations :b

On Fri, Jul 8, 2016, 17:31 Paul Kramme notifications@github.com wrote:

[2016-07-08 15:45] ghost opened #490 "XML files"
XML files should be opened as plain text instead of HTML

[2016-07-08 15:53] pkramme commented on #489
Well then, i'd like to have slack access then :+1:

[2016-07-08 15:54] alorma commented on #489
I've seen you a mail from gh-apps :)

[2016-07-08 17:21] #481 closed, assigned to nobody

[2016-07-08 17:24] #478 closed, assigned to alorma

[2016-07-08 17:38] #474 closed, assigned to alorma

[2016-07-08 17:45] alorma commented on #474
Fixed :D

[2016-07-08 18:24] pkramme opened #492 "Nightly Builds?"
Nightly Build and/or Beta builds could improve stable code quality, because bugs can be found faster and anyone who wants have quicker access to new functions.

[2016-07-08 18:26] alorma commented on #492
Yes.

I have to re-enable fabric distribution

[2016-07-08 19:02] alorma commented on #492
I've added you to fabric alpha releases

[2016-07-08 19:09] pkramme commented on #492
Thank you, but wouldn't be easier to make releases on GitHub?

[2016-07-08 19:12] alorma commented on #492
mmm nop

because tag releases are sent to automatically to play store, in production branch, so i won't publish everything :P

[2016-07-08 23:07] GeorgeWL commented on #489
Yeah sure why not.

[2016-07-08 23:15] GeorgeWL opened #493 "the wrong issues in the wrong repo notification"
These issues in the screenshot belong to entirely different repositories. Though they do link through to the repository to which they belong.
![Screenshot_20160709-000852.png](http://i.imgur.com/AO5IBWi.png)

[2016-07-08 23:36] shyim opened #494 "Icons missing"
It look so that Star icon and other are missing in the new app version

![Screenshot_20160709-013408.png](http://i.imgur.com/e7VYzCp.png)

[2016-07-08 23:37] shyim commented on #494
Lol assign field was empty..

[2016-07-09 03:21] pkramme opened #495 "Crash"
Build version: 2.16.2
Build date: 2016-07-08 17:16:02
Current date: 2016-07-08 23:19:22
Device: Samsung SM-G900F

Stack trace:
java.lang.NullPointerException: Attempt to invoke virtual method 'android.content.res.Resources android.content.Context.getResources()' on a null object reference
    at android.support.v7.widget.AppCompatDrawableManager.loadDrawableFromDelegates(AppCompatDrawableManager.j

[2016-07-09 08:57] alorma commented on #494
@mikepenz do you know what happened?

[2016-07-09 09:38] shyim opened #496 "Crash on FileActivity"
Build version: 2.16.2
Build date: 2016-07-09 01:18:54
Current date: 2016-07-09 11:36:38
Device: OnePlus ONEPLUS A3003

Stack trace:
java.lang.RuntimeException: Unable to start activity ComponentInfo{com.alorma.github/com.alorma.github.ui.activity.FileActivity}: java.lang.NullPointerException: Attempt to read from field 'java.lang.String com.alorma.github.sdk.bean.dto.response.Content.content' on a

[2016-07-09 10:48] alorma commented on #496
Yes, reproduced

Going to fix it now

[2016-07-09 11:53] mikepenz commented on #494
I might have am idea. Will take a look as fast as possible

Bernat Borrás Paronella notifications@github.com schrieb am Sa., 9. Juli
2016, 10:57:

[2016-07-09 23:05] #492 closed, assigned to nobody

[2016-07-09 23:05] pkramme commented on #410
Close?

[2016-07-09 23:05] #410 closed, assigned to nobody

[2016-07-09 23:06] pkramme commented on #180
Close?

[2016-07-11 14:21] alorma commented on #489
@georgiel i need your mail to invite you. Or write me at gitskarios@gmail.com

[2016-07-11 14:29] farbodsz opened #497 "Weird toolbar behaviour when writing an issue description"
When creating an issue and writing a description for it, if the description is long so that it needs to scroll, the toolbar scrolls with it as well.

![Screenshot_2016-07-11-15-26-13.png](http://i.imgur.com/5FYytqZ.png)

Perhaps this is intentional, but it seems strange as I would expect the content to scroll and the toolbar to stay fixed.

[2016-07-11 14:31] alorma commented on #497
This only happens with keyboard open?

[2016-07-11 14:40] farbodsz commented on #497
Yes.

You can see here:

![Screenshot_2016-07-11-15-38-59.png](http://i.imgur.com/B1BZJTg.png)

[2016-07-11 14:46] alorma commented on #497
Ok

So, i thinks it's the desired behaviour. Android does it automatically for edit texts.

If this is upvoted, i will try to change it

[2016-07-11 14:50] farbodsz commented on #497
Fair enough - thanks.

[2016-07-11 14:50] #497 closed, assigned to nobody

[2016-07-11 15:02] pkramme commented on #489
I recommend setting up an email account for work only, like GitHub, slack, etc...

[2016-07-11 15:35] Georgiel commented on #489
georgelangham1990@gmail.com

[2016-07-11 15:56] GeorgeWL commented on #475
You wouldn't give us more details so we can't reproduce

[2016-07-11 15:57] #475 closed, assigned to nobody

[2016-07-11 16:47] mikepenz commented on #494
This is related to the following: https://github.com/mikepenz/Android-Iconics/issues/182
Caused by changes required to fix the following: https://code.google.com/p/android/issues/detail?id=210834&thanks=210834&ts=1463954825

[2016-07-11 16:51] alorma commented on #494
Ok @mikepenz

So is there anything i can do? Or should i move to regular drawables?

[2016-07-11 16:54] mikepenz commented on #494
@alorma I am currently fixing it. there will be a PR soon

[2016-07-11 17:42] #494 closed, assigned to mikepenz

[2016-07-11 18:31] #495 closed, assigned to alorma

[2016-07-11 18:33] #496 closed, assigned to nobody

[2016-07-13 19:26] alorma opened #499 "Branches dialog on dark theme"
![Screenshot_20160713-212608.png](http://i.imgur.com/ytMTJTL.png)

[2016-07-13 19:30] alorma opened #500 "Issues list title aligned right"
![Screenshot_20160713-213035.png](http://i.imgur.com/07VDaa9.png)

[2016-07-14 08:16] farbodsz opened #501 "Milestone page doesn't display any issues"
When issues have been added to a milestone, and I view that milestone on Gitskarios, none of the issues get displayed.

[2016-07-14 08:28] alorma commented on #501
Sorry to hear that

I will check asap, could you provide a repository link?

[2016-07-14 08:38] farbodsz commented on #501
It's a private repository.

But maybe that's why it's not displaying correctly.

[2016-07-14 09:47] alorma commented on #501
OK, i will check, thanks

[2016-07-14 10:31] GeorgeWL commented on #499
Yeah I'm getting this too

[2016-07-14 10:39] alorma commented on #499
All dialogs are not showing dark background u_u

[2016-07-14 10:41] alorma commented on #501
I've tested in my private repositories, and it works as expected :s

I don't know what's happening.

I will add an empty and error states no that screen, can't do more if i don't have access to the repo :s

[2016-07-14 11:11] farbodsz commented on #501
@alorma  Okay, I have given you access to the repository as a collaborator so we can find a solution to the issue.

[2016-07-14 11:14] alorma commented on #501
Thanks!

[2016-07-14 11:19] alorma commented on #501
Ok, reproduced! I will check how to fix it

[2016-07-14 11:20] farbodsz commented on #501
That was quick!

Thank you.

[2016-07-14 11:56] alorma opened #502 "Issue detail not load milestones"

[2016-07-14 11:56] alorma commented on #502
Issue creation is blue!

[2016-07-14 21:10] #501 closed, assigned to nobody

[2016-07-14 21:11] alorma commented on #501
Fixed! Uploading a new version :D

[2016-07-14 21:17] farbodsz commented on #501
Thank you!

[2016-07-14 21:28] lgoudriaan commented on #457
Wasn't able to login with my old password after reinstall.

My old password was:
Eiiwt0bgi4bEkwcmKIftgp133EhdZgA1Y7rJm7Ht2ZBm4u401S

[2016-07-14 21:29] #499 closed, assigned to nobody

[2016-07-14 21:30] alorma commented on #457
Will try with that, thanks

[2016-07-14 22:16] #457 closed, assigned to nobody

[2016-07-15 03:19] pkramme opened #503 "Test Issue"
Test Issue to Reproduce #484

[2016-07-15 03:19] pkramme commented on #503
Lots

[2016-07-15 03:19] pkramme commented on #503
of

[2016-07-15 03:19] pkramme commented on #503
comments

[2016-07-15 03:20] pkramme commented on #503
make

[2016-07-15 03:20] pkramme commented on #503
my

[2016-07-15 03:20] pkramme commented on #503
day

[2016-07-15 03:20] pkramme commented on #503
fun

[2016-07-15 03:20] pkramme commented on #503
but

[2016-07-15 03:20] pkramme commented on #503
these

[2016-07-15 03:21] pkramme commented on #503
works

[2016-07-15 03:21] pkramme commented on #503
works

[2016-07-15 03:21] pkramme commented on #503
works

[2016-07-15 03:21] pkramme commented on #503
works

[2016-07-15 03:21] pkramme commented on #503
works

[2016-07-15 03:21] pkramme commented on #503
works

[2016-07-15 03:22] pkramme commented on #503
works

[2016-07-15 03:22] pkramme commented on #503
works

[2016-07-15 03:22] pkramme commented on #503
works

[2016-07-15 03:22] pkramme commented on #503
works

[2016-07-15 03:22] pkramme commented on #503
works

[2016-07-15 03:22] pkramme commented on #503
works

[2016-07-15 03:22] pkramme commented on #503
works

[2016-07-15 03:22] pkramme commented on #503
works

[2016-07-15 03:23] pkramme commented on #503
works

[2016-07-15 03:23] pkramme commented on #503
works

[2016-07-15 03:23] pkramme commented on #503
l

[2016-07-15 03:23] pkramme commented on #503
l

[2016-07-15 03:23] pkramme commented on #503
l

[2016-07-15 03:23] pkramme commented on #503
l

[2016-07-15 03:23] pkramme commented on #503
l EDIT: Bricks after 30 comments

[2016-07-15 03:23] paulkramme commented on #503
l

[2016-07-15 03:23] paulkramme commented on #503
l

[2016-07-15 03:23] paulkramme commented on #503
l

[2016-07-15 03:23] paulkramme commented on #503
l

[2016-07-15 03:23] paulkramme commented on #503
l

[2016-07-15 03:23] paulkramme commented on #503
l

[2016-07-15 03:23] paulkramme commented on #503
l

[2016-07-15 03:23] paulkramme commented on #503
l

[2016-07-15 03:29] pkramme commented on #484
The app can't load an issue after 30 comments. The app is misbehaving and has to be force closed after some time. At new startup the app crashes again and gives the folowing error:

[2016-07-15 03:29] pkramme commented on #484
Build version: 2.16.9
Build date: 2016-07-14 20:14:42
Current date: 2016-07-14 23:25:42
Device: Samsung SM-G900F

Stack trace:
java.lang.OutOfMemoryError: OutOfMemoryError thrown while trying to throw OutOfMemoryError; no stack available

[2016-07-15 12:29] alorma commented on #503
But i can load this issue without problems

[2016-07-15 12:30] gitskarios-dev commented on #503
Ok, this one causes a not load :s

[2016-07-15 13:45] #484 closed, assigned to alorma

[2016-07-15 13:46] #503 closed, assigned to nobody

[2016-07-15 13:46] alorma commented on #484
Fixed :)

Thanks guys for reporting it, and help me testing

[2016-07-15 20:38] frederickk opened #504 "titles of files in file view are centered"
![Screenshot_20160715-133741.png](http://i.imgur.com/iAH5SyP.png)

[2016-07-15 20:43] alorma commented on #504
Hi

That doesn't looks fine :(

Which version of android are you using?

[2016-07-15 21:33] pkramme commented on #504
Happens to me too. Android 5.0

[2016-07-15 22:10] lgoudriaan commented on #504
I have the same problem. Android 6.0.1

I was trying to fix this but wasn't able to build the project due an error on resValue "string", "imgur_client_id", getImgurClient() in gradle, value null :s

[2016-07-15 22:12] lgoudriaan commented on #500
This also happens on the pull request screen.
![Screenshot_20160716-001116.png](http://i.imgur.com/bulaRmw.png)

[2016-07-15 22:14] alorma commented on #504
Hey, yes.

Just replace the method with any string

[2016-07-16 12:07] #500 closed, assigned to nobody

[2016-07-16 12:09] #504 closed, assigned to nobody

[2016-07-16 12:15] #502 closed, assigned to nobody

[2016-07-16 13:52] alorma commented on #422
Fixed on 2.17 :)

[2016-07-16 13:52] #422 closed, assigned to nobody

[2016-07-16 16:21] Z3r0byte opened #505 "Layout glitch in code fragment"
![Screenshot_20160716-182025.png](http://i.imgur.com/X5LhcV2.png)

[2016-07-16 16:23] alorma commented on #505
Fixed in latest release from play store, please update :)

[2016-07-16 16:23] #505 closed, assigned to nobody

[2016-07-16 17:34] alorma commented on #490
done

[2016-07-16 17:34] #490 closed, assigned to nobody

[2016-07-16 17:46] #487 closed, assigned to nobody

[2016-07-16 17:46] alorma commented on #487
I've added ability to make zoom on imageview, won't update more for now

[2016-07-17 12:59] ntimo opened #506 "How to join beta"
Hello,

I tried the link in the description from the play store but when clicking the link it says Iam not allowed to join. So how can I get the beta version? Of this amazing app?

[2016-07-17 13:38] alorma commented on #506
You should join the g+ community.

But i do not post much in beta anyway

[2016-07-17 13:55] ntimo commented on #506
Could you provide me with a link to the Community?

[2016-07-17 14:18] alorma commented on #506
https://plus.google.com/communities/100177663530836613291

On Sun, Jul 17, 2016, 15:55 TimoViBritannia notifications@github.com
wrote:

[2016-07-17 15:45] #506 closed, assigned to nobody

[2016-07-17 16:22] griest024 opened #507 "crash when switching to code tab of a repository"
When I am viewing a repo, switching to the code tab, swipe or tap, causes the app to crash.

Build version: 2.17.1
Build date: 2016-07-16 18:00:56
Current date: 2016-07-17 12:15:08
Device: Samsung SCH-I545

Stack trace:
java.lang.NoSuchMethodError: android.graphics.drawable.Drawable.setTint
    at com.alorma.github.ui.fragment.detail.repo.SourceListFragment.onPrepareOptionsMenu(SourceListFragment.

[2016-07-17 16:23] #485 closed, assigned to nobody

[2016-07-17 16:25] #507 closed, assigned to nobody

[2016-07-17 16:28] alorma commented on #507
Fixed

[2016-07-17 16:29] griest024 commented on #507
That was fast

[2016-07-17 16:32] alorma commented on #507
:) I was fixing issues :P

Test is once it's updated from play store

[2016-07-17 17:01] #458 closed, assigned to nobody

[2016-07-17 18:41] griest024 commented on #507
Yup its fixed

[2016-07-18 07:49] farbodsz opened #508 "Formatting of markdown in Gists"
As READMEs are displayed with markdown formatting on the first tab of the repository page, it would be great if markdown files were also formatted in Gists.

For example:

![Screenshot_2016-07-18-08-46-44.png](http://i.imgur.com/8vBECrQ.png)

[2016-07-18 07:52] farbodsz opened #509 "Icon on notification page not matching text"
The "ALL" icon is black, contrary to the text and up icon white.<br /><br />![Screenshot_2016-07-18-08-51-08.png](http://i.imgur.com/bDKlujQ.png)<br />

[2016-07-18 09:08] frederickk commented on #504
I'm on Android 6.0.1 as well.

[2016-07-18 09:09] alorma commented on #504
@frederickk is it fixed?

[2016-07-18 09:50] lgoudriaan commented on #504
Yep, it's fixed

[2016-07-18 14:12] alorma commented on #509
Hi

What android version are you using?

[2016-07-18 14:17] GeorgeWL commented on #509
Give us more details please mate,  just a screenshot makes it difficult to test.

(version numbers,  android version,  device)

[2016-07-18 15:10] farbodsz commented on #509
App version: 2.17.3 (217003)
Device: Samsung Galaxy S4 (GT-I9505)
Android version: 5.0.1 (Lollipop)

[2016-07-18 15:26] GeorgeWL commented on #506
I'd suggest to remove the other beta link from the play store description,  it confuses matters.

[2016-07-18 15:41] alorma commented on #506
@Georgiel feel free to modify it :)

[2016-07-18 15:52] GeorgeWL commented on #487
Where's the option for that @alorma??

[2016-07-18 16:06] alorma commented on #487
Just open the image, and you can make zoom

[2016-07-19 17:26] chrpme commented on #455
This issue is fixed in the current version. Thanks!

[2016-07-19 17:26] #455 closed, assigned to nobody

[2016-07-19 19:48] jonathanmaron commented on #466
It looks like the author of the library has fixed this problem now. Could you please update your app to use the latest library? Thank you most kindly.

[2016-07-19 20:11] alorma commented on #466
I've updated it, but php files aren't loaded correctly yet

[2016-07-19 20:19] shyim commented on #466
It looks so Gitskarios is 1.1.0 using (https://github.com/gitskarios/Gitskarios/blob/develop/app/build.gradle#L195) , but 1.2.0 is available https://github.com/PDDStudio/highlightjs-android/releases/tag/1.2.0

[2016-07-19 22:07] alorma commented on #466
Fixed :)

[2016-07-20 06:03] shyim commented on #466
Works for me fine :)

[2016-07-20 06:08] #466 closed, assigned to alorma

[2016-07-20 14:07] alorma opened #510 "Add option to open markdown files as source code, or markdown"

[2016-07-21 13:03] lawloretienne opened #511 "Issue with repo issues"
If you try to update or delete a comment on an issue in a repo it doesn't work.

[2016-07-21 13:07] alorma commented on #511
What do you mean by a `issue in a repo`?

And what it means it doesn't work?

Issue comments cannot be deleted, yet ;)

[2016-07-21 13:55] lawloretienne commented on #511
So in my own repo I tried to comment an issue filed by another github user.

After i created that comment, I subsequently tried to update the comment and it did not update.

Then i tried to delete the comment and it throws an error.

(Edited by: Alorma)

[2016-07-21 13:58] alorma commented on #511
But, how you tried to delete it if it's not implemented?

[2016-07-21 13:58] alorma commented on #511
Provide me a issue link, please

[2016-07-21 14:08] lawloretienne commented on #511
There is a trash can icon that i assumed was a delete button.

On Thu, Jul 21, 2016 at 6:58 AM, Bernat Borrás Paronella <
notifications@github.com> wrote:

##
- Etienne Lawlor | Android Developer
  https://medium.com/@etiennelawlor

[2016-07-21 14:13] alorma commented on #511
No, this trash icon means "clean" current content

[2016-07-21 14:13] alorma commented on #511
And, i've edited your comments succesfuly :s

[2016-07-21 14:43] lawloretienne commented on #511
So then removing content throws an error.

[2016-07-21 14:51] alorma commented on #511
Ok, reproduced :)

And what about editing?

[2016-07-21 15:07] lawloretienne commented on #511
Okay updating a comment works now.

[2016-07-21 17:17] alorma commented on #511
Fixed at 2.17.8

[2016-07-21 17:17] #511 closed, assigned to nobody

[2016-07-26 00:49] #483 closed, assigned to nobody

[2016-07-26 00:50] #401 closed, assigned to nobody

[2016-07-26 10:56] JonatanSalas opened #514 "When performing rotation the application makes a restart"
Are you handling correctly the activity callback onConfigurationChanged? When I perform a window rotation the app crashes showing an activity with a Button to restart it.

[2016-07-26 11:30] alorma commented on #514
Hi.

Please, follow the issue template and provide crash report

[2016-07-26 11:53] JonatanSalas commented on #514
Excuse me! I will take a look at it, and then post it correctly :+1:

[2016-07-26 11:53] #514 closed, assigned to nobody

[2016-07-26 16:30] shyim opened #515 "markdown Viewer opens links"
On click on a markdown Link it will be opend in the markdown View field
![Screenshot_20160726-182702.png](http://i.imgur.com/u8cvob7.png)

[2016-07-26 19:51] alorma commented on #515
Mmmm

Ok, will try to fix it soon!

[2016-07-27 09:58] GeorgeWL commented on #483
I still think that it's only necessary on each unique module that we pulled in from elsewhere and one at the root for ours.

[2016-07-27 13:34] pkramme opened #518 "Add Account button opens 404 Page"
![Screenshot_2016-07-27-09-31-43.png](http://i.imgur.com/qJ0eHAw.png)
This page opens when i'm clicking the add account button.
https://github.com/login/oauth/authorize?client_id=null&scope=gist,user,notifications,repo

[2016-07-27 13:36] alorma commented on #518
Hi.

Which version are you using?

[2016-07-27 13:37] pkramme commented on #518
Latest Dev version

[2016-07-27 13:40] alorma commented on #518
Ok.

Where is the button you click? I'm not using oauth since long time ago

[2016-07-27 13:47] pkramme commented on #518
![Screenshot_2016-07-27-09-46-46.png](http://i.imgur.com/PA6ZGo6.png)

[2016-07-27 13:49] alorma commented on #518
Lol!

This is a really OLD one version.

You should update from the latest dev version.

ok, you tried the beta from fabric, isn't It was just a test, not a real latest update

[2016-07-27 13:49] #518 closed, assigned to nobody

[2016-07-27 19:00] GeorgeWL opened #519 "line numbers in all code views"
Although some views do have it,  it's not consistent across the board.

[2016-07-27 19:01] alorma commented on #519
Where are not consistent?

[2016-07-28 00:13] GeorgeWL commented on #519
Gists and php I've noticed so far, there's probably more.

![Screenshot_20160728-011331.png](http://i.imgur.com/HTUmA9H.png) e.g.

I think absolute position line numbers makes sense,  so that if you link it to others and say "what think of line 86?" they'll see the same line number, even if it's soft wrapped.

[2016-07-28 11:22] GeorgeWL commented on #518
I'd suggest either keeping the fabric betas up to date, or turning the fabric beta option off completely, should help prevent this confusion.

[2016-07-28 11:26] alorma commented on #518
Yes.

I've updated it by error.

But i will keep it updated, don't worry :)

[2016-07-28 16:06] mariobrostech opened #520 "Update Broke Everything!"
Log below:
Build version: 2.17.3
Build date: 2016-07-17 18:07:20
Current date: 2016-07-28 12:01:59
Device: Samsung SM-G930P

Stack trace:
java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String com.alorma.github.sdk.core.User.getLogin()' on a null object reference
    at com.alorma.github.ui.fragment.repos.ReposAdapter.onBindViewHolder(ReposAdapter.java:48)
    at com.al

[2016-07-28 18:41] droped commented on #520
Delete the app's data and cache and open the app again.

[2016-07-28 19:51] mariobrostech commented on #520
Did that, I stayed signed in for some reason! Still doesn't work!!! Same errors.

[2016-07-28 20:13] droped commented on #520
IIRC the app creates accounts using android's account manager so deleting the app's data would not delete your login info. Try delete your account from the system settings and deleting the app's data and cache again and then openning the app again.

[2016-07-28 20:21] mariobrostech commented on #520
Still didn't work, please help!
Device info:
Samsung Galaxy S7
Android 6.0.1 Marshmallow

[2016-07-28 20:32] droped commented on #520
I don't know honestly. Mine works fine (lg g3/ cm13). Must be a stock samsung rom problem.

[2016-07-28 22:36] alorma commented on #520
I will check tomorrow, sorry for crashes

[2016-07-29 08:41] jonathanmaron commented on #466
When do you expect to release the fixed version to the Google Play store?

[2016-07-29 08:53] alorma commented on #466
This weekend. I have to fix a few things yet

[2016-07-29 11:09] jonathanmaron commented on #466
Awesome. Thank you very much for attending to this issue. I very much appreciate it!

[2016-07-29 14:18] mariobrostech commented on #520
It's fine, just please try to fix this ASAP. I have a website to manage!

[2016-07-30 09:57] #520 closed, assigned to nobody

[2016-07-30 10:17] #515 closed, assigned to nobody

[2016-07-30 16:38] shyim opened #521 "Crash on Edit file, while the file is loading"
Build version: 2.17.10
Build date: 2016-07-30 13:02:46
Current date: 2016-07-30 18:36:45
Device: OnePlus ONEPLUS A3003

Stack trace:
java.lang.RuntimeException: Failure from system
    at android.app.Instrumentation.execStartActivity(Instrumentation.java:1615)
    at android.app.Activity.startActivityForResult(Activity.java:3982)
    at android.support.v4.app.BaseFragmentActivityJB.startActivityFo

[2016-07-30 16:40] shyim opened #522 "Duplicate load spinner"
![Screenshot_20160730-183918.png](http://i.imgur.com/1qFBmGa.png)

[2016-07-30 16:40] shyim opened #523 "Duplicate load spinner"
![Screenshot_20160730-183918.png](http://i.imgur.com/1qFBmGa.png)

[2016-07-30 16:41] shyim commented on #522
Edge Internet :(

[2016-07-30 16:41] #522 closed, assigned to nobody

[2016-07-31 02:18] mariobrostech opened #524 "Can't update website files!"
A few days ago, I was able to update files and push new commits. Now, for some strange reason, I get errors while trying to push commits to my website pages! It says that an unknown error occurred.

[2016-07-31 10:42] alorma commented on #524
What you mean by website pages?

[2016-07-31 14:33] mariobrostech commented on #524
Like editing a document in the website (example: index.html)

[2016-07-31 18:08] jonathanmaron commented on #466
I just installed the latest version from the Google Play store and can confirm that the issue is fixed. Thank you.

[2016-08-01 09:23] GeorgeWL commented on #522
Edge Internet?

[2016-08-01 09:42] GeorgeWL commented on #521
thanks for the detailed log @shyim , can you give us a few extra details too:

What exactly are the steps you take that cause the problem?

Is it repeatable when you take the same steps?

Just so that we can pinpoint exactly what would cause it more easily, cause the stack log is often overly verbose, making it not as helpful as it should be.

[2016-08-01 09:45] GeorgeWL commented on #524
can you give us in as much detail when exactly it happens and how?

See, if we can then repeat the same steps whilst running it on a virtual machine, we should be able to see what caused it.

[2016-08-01 10:15] shyim commented on #522
It looks so, when we have bad internet while creating a issue it will be created multiple times

[2016-08-01 10:16] shyim commented on #521
Open big file while the content is loading press on top right the edit button. It will crash everytime

[2016-08-01 10:52] alorma commented on #521
Provide a big file linke plz

[2016-08-01 11:08] shyim commented on #521
https://github.com/shyim/shopware/blob/5.0/_sql/install/latest.sql

[2016-08-01 13:06] mariobrostech commented on #524
Nevermind , I think it was fixed in the last commit that I made.

[2016-08-01 13:07] mariobrostech commented on #524
*Nevermind (stupid autocorrect)

[2016-08-01 15:28] GeorgeWL commented on #524
@mariobrostech safe to close then? We've not checked it yet you see.

[2016-08-01 15:32] mariobrostech commented on #524
Safe to close!

[2016-08-01 15:35] #524 closed, assigned to nobody

[2016-08-01 15:38] GeorgeWL commented on #523
Can you tell us a bit of details?

like is it always happening or only under certain circumstances?

Is there a set of steps you can find which causes it to happen every time?

and of course:

Android Version:
Handset:
Gitskarios Version _(found in the drawer under about, at the top under logo)_:

[2016-08-01 15:41] GeorgeWL commented on #522
I didn't understand what you meant.

That sounds like it could be just a bug caused by your end then.

Just to be sure, see if you can find a case where it happens not under the circumstances of poop internet?

[2016-08-01 15:45] alorma opened #525 "multiple assignees"
Add multiple assigness, it's now official on API<br /><br />(test issue: https://github.com/gitskarios/Gitskarios/issues/521)

[2016-08-01 15:47] GeorgeWL commented on #525
Ah, I'll probably have to wait for my version to notice,  it seems play store needs about half an hour to propagate the changes to UK.

[2016-08-01 15:49] alorma commented on #525
?

I not implemented it yet, just add as issus to develop it someday

[2016-08-01 18:47] GeorgeWL commented on #525
Ooh right,  thought made this issue to show it off like a "lookit the example!"

[2016-08-01 18:55] GeorgeWL commented on #508
Wouldn't that end up with conflicts,  cause don't gists not need a file extension?

https://gist.github.com/anonymous/775bcfa6292384d6bc7606119904a743

To my knowledge they're context free plain text files.

[2016-08-01 19:02] farbodsz commented on #508
@Georgiel

I think Gists can have file extensions - they are not required however.

[2016-08-01 19:36] GeorgeWL commented on #508
Ooh yeah they recognise it. Alright yeah.

https://gist.github.com/anonymous/2ccc5100b601d2dbaa76eb76df9c0f7b

https://gist.github.com/anonymous/7767c5a1973707039f70bedda05ddca7

(I'm still getting the hang of github, learning through trial and error.)

[2016-08-03 11:26] geekrainy opened #527 "Username is displayed with unrelated numbers"
RT

![IMG_20160803_192244.png](http://i.imgur.com/ZXfrj5l.png)

![IMG_20160803_192230.png](http://i.imgur.com/83rodj3.png)

![IMG_20160803_192138.png](http://i.imgur.com/Si12H8e.png)

[2016-08-03 14:11] pkramme commented on #527
Please rewrite this issue in English. We cannot understand you. Please look at the [Contribution Guide](https://github.com/gitskarios/Gitskarios/blob/develop/CONTRIBUTING.md) for more information.

[2016-08-03 14:16] pkramme commented on #527
I think i got it now: They are numbers behind the name, which doesn't belong to the actual user name.

[2016-08-03 16:34] alorma commented on #527
Yes. I know the problem.

I will fix as soon as possible

PS: related to multiple accounts on Android N (bug)

[2016-08-04 23:36] almisbmn opened #528 "Hi,"
Sorry this was by mistake, I've submitted two issues by accident, the other one has the description and the screenshot and GitHub doesn't allow you to remove one.
I apologize again.

[2016-08-04 23:40] almisbmn opened #529 "Play Store Payment Error"
Thank you for the fantastic app,
I get a Play Store error when I try to support development as you can see from the attached picture.
Thanks again,
![Screenshot_20160804-193505.png](http://i.imgur.com/qlKPcM9.png)

[2016-08-04 23:46] #528 closed, assigned to nobody

[2016-08-05 06:21] alorma commented on #529
Hi

Which version are you using?

[2016-08-05 06:28] almisbmn commented on #529
Version 2.17.10 (217010)

[2016-08-05 06:33] alorma commented on #529
Weird...

I will investigate

[2016-08-05 11:20] GeorgeWL commented on #528
don't waste our time @almisbmn

[2016-08-06 02:14] nv-vn opened #530 "Events/organizations for wrong user displayed"
Here is what I see from the App: ![](http://i.imgur.com/NikIKLl.png)
But my feed looks like this on the Github website: ![](http://image.prntscr.com/image/bdc35f3fd0aa412c9257dfd35ba33dcc.png)

[2016-08-06 02:17] nv-vn commented on #530
Events don't correspond to followers anymore: ,![](http://i.imgur.com/NikIKLl.png)

[2016-08-06 21:35] ghost opened #531 "[Enhancement/Suggestion] Issues"
Instead of having an "Assigned issue" tab, it'd be better if it was simply "Issue" where you could see the issues you've posted, those you've been assigned and those where you were mentioned. This would be appreciated. :)

[2016-08-10 10:58] GeorgeWL commented on #528
@almisbmn it's ok. At first I assumed you were a spammer, but then looked at profile and it's obvious you're not.

[2016-08-10 11:00] GeorgeWL commented on #489
Is there a way to change the name of the Slack? Gh-Apps has no context so it could be confused with another channel.

[2016-08-10 11:01] alorma commented on #489
Done

`gitskarios.slack.com`

[2016-08-10 11:02] #489 closed, assigned to nobody

[2016-08-13 16:55] alorma opened #532 "Test multiple assignees"

[2016-08-13 17:25] alorma commented on #532
This is a very long message, so we can test why first card is not set to match_parent

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquam lacus eget dignissim dignissim. Donec vitae elit velit. Phasellus semper a mi interdum placerat. Aliquam maximus est mauris, non porttitor tellus blandit id. Integer ut purus nunc. Aenean gravida finibus lacus, vestibulum faucibus sem posuer

[2016-08-14 04:22] ghost opened #534 "[BUG] Closing issue won't work."
Simply won't work, I don't know why.

[2016-08-14 05:45] #534 closed, assigned to nobody

[2016-08-14 06:43] alorma commented on #534
I closed it without problem

[2016-08-14 10:45] RememberTheAir opened #535 "Unexpected bug while unwatching my repository"
Build version: 3.1.1
Build date: 2016-08-13 21:42:40
Current date: 2016-08-14 12:44:32
Device: OnePlus A0001

Stack trace:
java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.Boolean.booleanValue()' on a null object reference
    at com.alorma.github.ui.fragment.detail.repo.RepoAboutFragment.changeWatchedStatus(RepoAboutFragment.java:459)
    at com.alorma.github.ui

[2016-08-14 10:47] RememberTheAir commented on #535
Ups, I thought I was sending a classic email to the developer instead to open an issue :)

This may look a bit spammish... fell free to close it

[2016-08-14 12:41] jetyum opened #536 "This app clashed when open .md file"
## Error Message

Build version: 3.1.1
Build date: 2016-08-13 21:42:40
Current date: 2016-08-14 21:36:32
Device: HUAWEI d-01G

Stack trace:
java.lang.NoSuchMethodError: android.graphics.drawable.Drawable.setTint
    at com.alorma.github.ui.fragment.FileFragment.onPrepareOptionsMenu(FileFragment.java:170)
    at android.support.v4.app.Fragment.performPrepareOptionsMenu(Fragment.java:2187)
    at an

[2016-08-14 12:50] #536 closed, assigned to nobody

[2016-08-14 16:32] alorma opened #537 "[Feature request] Test Issue"
Os version: Android 6.0
Device: Nexus 6P
Testing new form

[2016-08-14 16:36] #537 closed, assigned to nobody

[2016-08-14 16:47] #535 closed, assigned to nobody

[2016-08-14 16:49] #532 closed, assigned to alorma

[2016-08-14 19:07] alorma commented on #535
Fixed

[2016-08-14 19:08] #525 closed, assigned to GeorgeWL

[2016-08-14 21:17] abcminiuser opened #538 "Add ability to delete issue comment"
It would be nice if we could delete, rather than just edit, an issue comment. Currently I can edit a comment and delete all text, but confirming the edit does not have any visible effect.

[2016-08-14 22:05] alorma commented on #538
Hi.

That is the next step, after allowing edit, i will add delete option.

[2016-08-14 22:59] RememberTheAir commented on #535
Great, thanks a lot :)

[2016-08-15 10:22] Florianisme opened #539 "Icon change"
Great app but if I was you (as I'm a dev myself), I'd change the "check" icon to a "send" icon :)

![Screenshot_20160815-121959.png](http://i.imgur.com/HuESe9f.png)

[2016-08-17 23:58] GeorgeWL commented on #539
I kind of agree tbh

[2016-08-18 13:02] ghost opened #540 "fg"

[2016-08-18 13:04] #540 closed, assigned to nobody

[2016-08-18 13:06] ghost opened #541 "In about section, the CardView aren't associate with dark theme."

[2016-08-18 13:10] alorma commented on #541
Please, provider more info, and screenshots

[2016-08-18 13:22] ghost commented on #541
Lol, I tried to send you a picture of the bug with your app, but it will not let me, and then opens the appropriate screen for more information of the error.

Error message :

Build version: 3.1.1
Build date: 2016-08-13 21:42:40
Current date: 2016-08-18 15:27:44
Device: HUAWEI VNS-L31

Stack trace:
java.lang.IllegalStateException: Only one Dexter request at a time is allowed
    at com.karumi.dext

[2016-08-19 17:48] alorma commented on #531
Working

[2016-08-20 08:04] ghost commented on #531
@alorma Fantastic!

[2016-08-20 13:49] alorma commented on #531
Done!

[2016-08-20 13:50] #531 closed, assigned to alorma

[2016-08-22 06:04] ghost opened #542 "Issues tab."
The Issues tab doesn't work and it is still named "Assigned issues".

[2016-08-22 06:08] ghost opened #543 "Login screen"
The eye symbol appear both on the side of the password (as it should) AND below the password for unknown reasons.

[2016-08-22 06:11] xxxifan opened #544 "Can't donate"
I wanted to support your awesome work, but the prices can't be clicked😂😂. please fix

[2016-08-22 07:14] alorma commented on #543
Hi.

This is fixed, and will be launched soon

[2016-08-22 07:14] #543 closed, assigned to nobody

[2016-08-22 10:14] alorma commented on #542
Hi.

Which version are you using?

[2016-08-22 13:02] ghost commented on #539
👍

[2016-08-22 16:27] ghost commented on #542
The latest version - 3.2.0 from the Google Play Store.

[2016-08-22 16:29] alorma commented on #542
Ok.

Title is set to Assigned issues.

But what do you mean by tab doesn't work?

[2016-08-23 07:44] ghost commented on #542
@alorma Issues are not shown. It says "No issue found" while I know I created issues in repositories.

[2016-08-23 07:52] alorma commented on #542
Hi. Ok...

Maybe it's a problem with repositories from organizations, api doesn't provide them :(

[2016-08-23 08:30] GeorgeWL commented on #541
Can you tell us a bit of details?

like is it always happening or only under certain circumstances?

[2016-08-23 08:32] GeorgeWL commented on #544
Can you tell us a bit of details?

like is it always happening or only under certain circumstances?

Is there a set of steps you can find which causes it to happen every time?

and of course:

Android Version:
Handset:
Gitskarios Version:

_(found in the drawer under about, at the top under the logo)_

(p.s that avatar is adorable.)

[2016-08-23 08:34] GeorgeWL commented on #530
Can you tell us a bit of details?

like is it always happening or only under certain circumstances?

and of course:

Android Version:
Handset:
Gitskarios Version:

_(found in the drawer under about, at the top under the logo)_

[2016-08-23 09:33] GeorgeWL commented on #519
@alorma Have you fathomed what's the cause or was it just an accidental oversight?

[2016-08-23 12:22] nv-vn commented on #530
Always happens and it's always the same people/repositories who show up.

Android Version: 6.0.1
Phone: LG G5
App Version: 3.1.1, but it's been happening for at least 2-3 versions before this

[2016-08-23 17:15] ghost commented on #542
I'm not sure but Octodroid can do this so you might want to take a look there, @alorma

[2016-08-23 17:42] alorma commented on #542
I reopen it.

But, i don't see any problem, but, maybe that's because all my orgs memberships are public. Is that your case?

[2016-08-24 00:20] ghost commented on #542
@alorma A what?

[2016-08-24 07:29] alorma commented on #542
The events you can't see in the app, are from organizations?

[2016-08-24 10:30] GeorgeWL commented on #542
@Lionir he's asking if its true of all of your organisations, or only for certain ones?

And his first guess is it might only be affecting Private organisations, so to check that he's asking if any on your feed are set to private.

[2016-08-24 18:53] alorma opened #545 "test issue"

[2016-08-24 19:02] alorma commented on #545
Test

[2016-08-24 19:03] alorma commented on #545
Oroirooo

[2016-08-24 23:12] ghost commented on #542
None are private. However, I make an issue in MY repo, it does show but it doesn't issues I've created in other repos. @alorma @Georgiel

[2016-08-25 07:29] alorma commented on #542
Mmmm, i will check, but i don't know which way i should follow :s

[2016-08-25 19:39] xdk78 opened #546 "viewing code bigger than 10 mb"
Build version: 3.3.
Build date: 2016-08-24 20:01:34
Current date: 2016-08-25 21:37:43
Device: HUAWEI ALE-L21

Stack trace:
java.lang.NullPointerException: Attempt to read from field 'com.alorma.github.sdk.bean.dto.response.Permissions com.alorma.github.sdk.bean.info.RepoInfo.permissions' on a null object reference
    at com.alorma.github.ui.fragment.FileFragment.onCreateOptionsMenu(FileFragment.j

[2016-08-26 07:04] ghost commented on #542
@alorma Alright, I hope it works out well :)

[2016-08-27 10:00] alorma commented on #519
Working on it :)

[2016-08-27 12:33] AllanWang opened #547 "On back press doesn't switch fragments properly"
If you switch from say events to people in the drawer, pressing back will switch the drawer tab back to events, but will not switch the view itself. <br /><br />Using the latest non beta version on the play store as of this date.

[2016-08-27 12:37] alorma commented on #547
Hi. I'm aware of that, currently i'm working on improve SourceCode visibility.

I will go with this as soon as i finish

[2016-08-27 14:24] GeorgeWL commented on #545
Electric boogaloo
![IMG_20160827_104424.jpg](http://i.imgur.com/R9XGnqf.jpg)

[2016-08-27 22:11] juherr opened #548 "Remove branch from the pull-request view"
From the Web interface, you are able to remove the source branch of a pull-request once it is merged.

I think it should be possible to do the same from an app.

[2016-08-27 22:37] alorma commented on #548
There's nothing on the API that allows gitskariors do that

Sorry :(

[2016-08-28 06:12] juherr commented on #548
Really ?

Because you already display the source branch and you can remove it with https://developer.github.com/v3/git/refs/#delete-a-reference

I think the harder part is to find when the button should be displayed (once pr merged, and if the user has the right to remove the branch)

[2016-08-28 08:03] alorma commented on #548
Uooo, great. Thanks! I was searching on "branches", sorry

On Sun, Aug 28, 2016, 08:12 Julien Herr notifications@github.com wrote:

[2016-08-28 08:06] juherr commented on #548
Me too, but it was too weird that the feature was not available :)

Please, reopen the issue ;)

[2016-08-29 01:39] nv-vn commented on #530
Update on this: just installed the newest version of the app. Now on the sidebar I see more users or organizations [1]. I have no idea where these came from and I've never been involved with any of them. The one thing I notice here is that https://github.com/NV is a member of these specific organizations. He also often shows up on the events page on the app. Since my username is `nv-vn`, this make

[2016-08-29 01:42] nv-vn commented on #530
A quick code search for `.split("-")` brought me to [this file](https://github.com/gitskarios/Gitskarios/blob/6b4d43f73c1a5221ed0bbff1bd09c3f941a8fb3a/app/src/main/java/com/alorma/github/utils/AccountUtils.java). Indeed this does seem to be the issue here. However, it's weird that this works correctly in some places but not others. If this is not part of the Github API, perhaps it would be better

[2016-08-29 01:49] nv-vn commented on #530
Sorry to bother you, but @FarbodSalamat-Zadeh I saw you made created another Issue on this repository. Since you also have a dash in your username, would you mind confirming if you experience a similar bug? Since there's no user for https://github.com/FarbodSalamat I would expect you to see no events or organizations at all on your end.

[2016-08-29 02:17] farbodsz commented on #530
Yeah of course, @nv-vn ,

My Events page is loading forever (with nothing except an indeterminate progress animation), so I'm guessing it's related to the aforementioned issue.

I've also spotted that the in the navigation menu, looking at the texts under the profile icon, the first shows "FarbodSalamat" and the second shows "Farbod Salamat-Zadeh".

This confims the issue with `.split("-")` becaus

[2016-08-29 02:41] nv-vn commented on #530
Thanks for replying :) Looking back at the screenshot I posted, my name is indeed displayed as "nv" there. (I didn't notice because that's my username on most websites other than Github).

Anyways, some other characters that could be used in place of `-` here include: `_`, `.`, and `/` (which I think is probably the best since it's the least likely to become a valid character in usernames and `@`

[2016-08-29 07:53] alorma commented on #530
hey! Great investigation! Thanks!!

I will fix it today soon, but the `-` problem is about a issue on N developer preview, so i assume it's not happening anymore as Nougat is released :)

[2016-08-29 09:02] farbodsz commented on #530
Thanks for your reply, @alorma .

But I'm slightly confused - do you mean that the problem on the N developer preview is affecting the other versions of Android? ;) _Edit: Or after rereading, do you mean that the problem was occurring in all Android versions up to N developer preview, and so it does not occur on Nougat?_

The reason I say this is that @nv-vn stated he was using Android 6.0.1 (Mars

[2016-08-29 09:04] alorma commented on #530
no, the think was i patched the problem adding a UUID to username, and now i see it was a bad idea :p

Anyway, i plan to refactor the account system from scratch, so not use android accounts anymore.

[2016-08-29 17:49] nv-vn commented on #530
Awesome! Thanks for responding so fast/taking care of this!

[2016-08-30 17:37] alorma commented on #530
Fixed! Will release soon!

[2016-08-30 18:11] #530 closed, assigned to alorma

[2016-08-30 18:13] #544 closed, assigned to nobody

[2016-08-30 18:13] #545 closed, assigned to nobody

[2016-08-30 18:14] #529 closed, assigned to alorma

[2016-08-30 21:10] nv-vn commented on #530
Awesome! Thanks for your support :)

[2016-09-03 18:28] MelvynEzi opened #551 "Bug with README display"
1. Background is transparent, turning dark theme unreadable due to standard black font color.
2. Does not fit horizontally, able to horizontally scroll.

[2016-09-04 09:12] #551 closed, assigned to nobody

[2016-09-04 09:21] alorma commented on #548
Done in https://github.com/gitskarios/Gitskarios/pull/550

[2016-09-04 09:21] #548 closed, assigned to nobody

[2016-09-04 09:22] #527 closed, assigned to alorma

[2016-09-04 09:26] juherr commented on #548
Awesome! Thanks @LetItRock

[2016-09-04 09:30] juherr opened #552 "Request: Add a link from pull-request details to repository/branch"
Hi,

In the pull-request info view, branches are listed but no action is available.

Is it possible to add a link to the according repository+branch view?

Thanks

[2016-09-04 10:16] #552 closed, assigned to nobody

[2016-09-04 10:17] alorma commented on #552
Done

[2016-09-04 10:57] juherr commented on #552
Thanks :+1:

[2016-09-04 11:12] MelvynEzi commented on #551
Great work 👍👍
Readable on dark theme now. Just that long text (like hashes) will cause it to scroll horizontally. Or block codes like on this repo will also cause it to scroll horizontally.

[2016-09-04 12:17] alorma commented on #551
Don't know how to fix that on css :(

[2016-09-04 12:34] MelvynEzi commented on #551
Seems like this would help
http://www.w3schools.com/cssref/css3_pr_word-wrap.asp

[2016-09-04 12:50] alorma commented on #551
Tried, but not seems to work :(

[2016-09-04 13:09] MelvynEzi commented on #551
aww :( it's alright! it was harder to swipe left because the top section was able to scroll previously. it's all good now. this app seem to be the only active github client in development now, so kudos to you!

[2016-09-04 19:06] juherr opened #553 "Wrong link to repository/branch in pull-request details"
Related request: #552
App version: 254f063

Steps:
1. Open a pull-request
2. Click on a branch

For example, with http://github.com/cbeust/testng/issues/1016
Found branches are `cbeust:master` and `matzinger0670:master`.
Ok for `cbeust:master` but `matzinger0670:master` is pointing on `cbeust:master` too.

[2016-09-04 19:16] juherr opened #554 ""Remove branch" button is not displayed as expected"
Related request: #548
App version: 254f063

Steps:
1. Open a pull-request on a project where you are not admin
2. Wait until the pull-request is merged
3. Try to remove the merged branch

I had a quick look on the pull-request which added the feature and the issue may be located here: https://github.com/LetItRock/Gitskarios/blob/13b83141c06cd5c9c2d31fc1e2dfe1850327c922/app/src/main/java/com/alorma

[2016-09-04 19:24] juherr opened #555 "Wrong branch name on "deleted branch" event in pull-request view"
App version: 254f063

Steps:
1. Open a merged pull-request where the source branch is deleted
2. Check the displayed name

In all pull-request where the source branch is deleted, the label I see is "<user> head_ref_deleted" where I expect something like "<user> Deleted <repo name>:<branch name>".

[2016-09-04 19:30] juherr opened #556 "Request: More filters and orders on issues/pull-requests"
Currently, only open/close filter is available on issues/pull-requests.

I'd like more filters and a way to order results.

For example, I often filter on labels, and I often sort by "Recently updated". It could be a good start :)

[2016-09-05 08:10] LetItRock commented on #554
Hello @juherr ,
yes you are right here, these permissions are not checked on proper repository... they are related to base repository... I will investigate that later how can I do that right way...
Thanks

[2016-09-05 08:48] juherr commented on #554
:+1:

And I didn't check, but I wonder if collaborators of a repository and/or members of an organization are able or not to remove branches. If they can, `permissions.admin` won't be the unique solution.

[2016-09-05 10:39] LetItRock commented on #554
Regarding to this article: [Tidying up after Pull Requests](https://github.com/blog/1335-tidying-up-after-pull-requests)
It says  that: "... you can only delete branches in repositories that you have push access to."

[2016-09-05 10:41] juherr commented on #554
So it confirms not only admin should be able to see  the button.

[2016-09-05 10:47] LetItRock commented on #554
Yep...

[2016-09-05 10:49] MelvynEzi opened #557 "Crash when rotating during pull request page load"
Build version: 4.4.1
Build date: 2016-09-04 10:27:50
Current date: 2016-09-05 18:47:36
Device: LGE LG-D838

Stack trace:
java.lang.IllegalStateException: Fatal Exception thrown on Scheduler.Worker thread.
    at rx.internal.schedulers.ScheduledAction.run(ScheduledAction.java:59)
    at android.os.Handler.handleCallback(Handler.java:739)
    at android.os.Handler.dispatchMessage(Handler.java:95)

[2016-09-05 10:51] alorma commented on #554
Yes, `permissions.admin && permissions.push` (simplified to: `permissions.push` because admins have push access)

[2016-09-05 12:19] LetItRock commented on #554
So first we need to get permissions info from repository from which head branch comes... and then check permissions.push access rights... is that correct?

[2016-09-05 12:21] alorma commented on #554
Yes. You should request repository, it contains permissions

[2016-09-05 12:25] LetItRock commented on #554
Ok, great :+1:
I will make changes soon...

[2016-09-06 00:47] MelvynEzi opened #558 "Ability to read full commit message"
Currently, the commit message is cut after x amount of characters. Clicking on the commit should have a tab that contains the full commit message.

[2016-09-06 05:12] ghost commented on #542
Bumping...

[2016-09-06 05:39] alorma commented on #542
I don't see anything :s

I will provide you curl requests, so i can see if api returns something and it's a app bug

[2016-09-06 06:33] alorma commented on #542
Hi @Lionir , please, could you execute these curl commands, and tell me the response? Not all, just if it return data, or returns error, or empty, etc...

[code]

In order to get ACCESS_TOKEN, you can create a new one in your settings, please be sure to add **repo** scope

[2016-09-06 09:49] juherr opened #560 "Request: Having colored lines in the diff view"
App version: 254f063

Currently, the "Files" view on pull-request is displaying color on changed line (green for +, and red for -).
But the detailed diff view doesn't have colors.

[2016-09-06 14:26] LetItRock commented on #557
This should be fixed after merging pull request: #559

[2016-09-06 16:02] alorma commented on #555
Done

[2016-09-06 16:02] #555 closed, assigned to nobody

[2016-09-06 16:15] #553 closed, assigned to nobody

[2016-09-06 17:10] #547 closed, assigned to nobody

[2016-09-06 19:15] LetItRock commented on #557
Please check if this is still reproducible with next release...

[2016-09-06 20:48] alorma opened #561 "Repository default branch incorrect"
On Gitskarios it shows master, instead of develop

[2016-09-08 06:42] juherr opened #562 "Crash when "java.net.UnknownHostException: Unable to resolve host "api.github.com": No address associated with hostname""
[code]

[2016-09-08 06:54] juherr opened #563 "Some pull-requests are missing from the global "Issues/Created" view."
I expect to see all my created issues/pull-requests in the global "Issues/Created" view but it is not the case. For example, https://github.com/scribejava/scribejava/pull/696 is missing.

[2016-09-08 06:57] alorma commented on #563
I know that some issues are missing, but this is api fault :(

Maybe this issue belongs to an organization, and you didn't published your membership?

[2016-09-08 07:00] juherr commented on #563
Maybe you don't use the best api to do it because I'm able to see all pull-requests and issues in [OctoDroid](https://github.com/slapperwan/gh4a)

[2016-09-08 07:02] alorma commented on #563
well, so i don't know which api use :s

[2016-09-08 09:46] #563 closed, assigned to nobody

[2016-09-08 09:50] juherr commented on #563
👍

[2016-09-08 10:52] MelvynEzi opened #564 "Text is black on dark theme"
Retry text
![Screenshot_2016-09-11-13-19-00.png](http://i.imgur.com/q5LPmum.png)

Character count
![_20160919_114330.JPG](http://i.imgur.com/IWHRzRW.jpg)

[2016-09-08 23:47] ghost commented on #542
@alorma Uh, I don't know hot to execute these nor do I see how to get a new token and add a repo scope..

[2016-09-09 06:48] alorma commented on #542
Nevermind, it works now

[2016-09-09 06:48] #542 closed, assigned to nobody

[2016-09-09 13:59] lawloretienne opened #565 "Up navigation exits the app"
When I open a link to a github repo from a mobile website it opens in this app. I see an up navigation icon in the toolbar. But when I click it exits the app instead of navigating up the hierarchy of this app. Up navigation should never leave the app.

[2016-09-10 19:32] MelvynEzi commented on #557
Seems good

[2016-09-10 19:32] #557 closed, assigned to nobody

[2016-09-10 19:34] MelvynEzi commented on #558
Fixed.

[2016-09-10 19:34] #558 closed, assigned to nobody

[2016-09-11 05:27] MelvynEzi opened #566 "Bugs in 4.4.2"
Retry text is black and unreadable in dark theme.<br />![Screenshot_2016-09-11-13-19-00.png](http://i.imgur.com/q5LPmum.png)<br /><br />Some releases are missing.<br />![Screenshot_2016-09-11-13-19-47.png](http://i.imgur.com/2ckZf4E.png)<br />![Screenshot_2016-09-11-13-29-11.png](http://i.imgur.com/aa0Qgrz.png)<br /><br /><br />Markdown files text is black and unreadable in dark theme.<br />![Scre

[2016-09-11 05:27] MelvynEzi commented on #564
~~Closed as merged in #566~~

[2016-09-11 06:15] ghost commented on #566
Adding to this :

•Clicking on any issues in the issues tab crashes Gitskarios

•Seeing Closed issues then refreshes and shows no issues.

[2016-09-11 10:16] MelvynEzi commented on #566
Unable to produce above mentioned issues. Maybe you can open your own issue with the stack trace for the crash.

[2016-09-11 13:09] mariobrostech opened #567 "Can't Open Mentioned Issues Section!"
Device info:
Samsung Galaxy S7
Android 6.0.1 Marshmallow

Error code:
Build version: 4.4.2
Build date: 2016-09-10 18:14:58
Current date: 2016-09-11 09:06:14
Device: Samsung SM-G930P

Stack trace:
java.lang.NullPointerException: Attempt to invoke virtual method 'com.alorma.github.sdk.core.User com.alorma.github.sdk.core.repositories.Repo.getOwner()' on a null object reference
    at com.alorma.gith

[2016-09-11 13:15] mariobrostech commented on #566
Just search for a repository and type nothing in. You'll see the same thing as in the screenshoot!

[2016-09-11 13:23] alorma commented on #567
I'm aware of the bug, i will fix it asab

[2016-09-11 16:46] MelvynEzi commented on #566
Tab action bar icons are sometimes swapped. Branches should always be on the left.

[2016-09-11 18:38] alorma commented on #567
Fixed :D

[2016-09-11 18:38] #567 closed, assigned to nobody

[2016-09-11 23:02] ghost opened #568 "[Feature Request] See Closed issues"
The ability to see closed issues in the issues tab.

[2016-09-12 04:01] MelvynEzi commented on #568
There's a dropdown box to switch to Closed issues.

[2016-09-12 08:22] LetItRock commented on #562
Can you describe how this can be reproduced? Because it is hard to read from code what happened there...
It looks like activity is hidden and there is "hot" observable which receives events and we need to unsubscribe from it...

[2016-09-12 08:30] juherr commented on #562
I'm not able to reproduce it 😞
But I supposed it was due to a network issue.

I don't know if it is possible easily, but the idea is to treat the exception and provide a better user feedback.

[2016-09-12 08:39] juherr opened #569 "Wrong user events"
App version: 5268c3a

If you scroll the events of a user, you'll see not user events after a moment.

For example, on @LetItRock 's events:

Until

only user related events, then

After, only not user related events.

[2016-09-12 08:49] LetItRock commented on #562
That's not possible in this case, because activity is hidden and we cannot create any dialogs...
This crash happens because there is still alive subscriber which receives event from network when activity is hidden and it has access to its context and tries display dialog when we get network error...
It should be fixed like "unsubscribe from receiving network events" in case when activity is not vi

[2016-09-12 09:17] juherr commented on #562
Okay, feel free to close the issue :)

It looks like a good solution too.

[2016-09-12 09:48] LetItRock commented on #562
@alorma ping
@alorma could you check your email box? :P

[2016-09-12 11:18] LetItRock commented on #569
This will be fixed with PR #570.

[2016-09-12 20:24] farbodsz opened #571 "Incorrect Toolbar tab names"
The texts "Overview", "Source", "Commits", "Issues", etc display on incorrect tabs. I.e. they don't correspond.

[2016-09-12 21:09] MelvynEzi commented on #566
@alorma updated

[2016-09-13 00:25] GeorgeWL opened #572 "readme files not in .md format don't get read correctly."
I've not really seen many which didn't use md, but a few days ago I came by a rst format. <br /><br />https://github.com/AmmsA/Githeat/blob/master/README.rst<br /><br />And on the main repository view the file isn't read correctly.

https://github.com/AmmsA/Githeat

[2016-09-13 05:29] MelvynEzi commented on #572
~~mst files are for Microsoft Windows installer? md files are markdown files.~~

[2016-09-13 10:10] GeorgeWL commented on #572
@DJCrapsody

good to know.  what's that got to do with anything?

Oh, you misread. These are rst files,  a less common form of markdown,  stands for reStructuredText

[2016-09-13 10:16] MelvynEzi commented on #572
Ignore last comment. I saw rst as mst. Just found out about rst. Should be a bug. Sorry bout that.

[2016-09-13 10:43] MelvynEzi opened #573 "Crash when attempting to view code on md files"
Build version: 4.4.3 <br />Build date: 2016-09-11 20:49:48 <br />Current date: 2016-09-13 18:42:40 <br />Device: LGE LG-D838 <br /><br />Stack trace:  <br />java.lang.NullPointerException: Attempt to read from field 'java.lang.String com.alorma.github.sdk.bean.info.RepoInfo.branch' on a null object reference<br /> at com.alorma.github.sdk.services.content.GetFileContentClient.getApiObservable(GetF

[2016-09-13 17:50] #569 closed, assigned to nobody

[2016-09-14 07:11] juherr opened #574 "Wrong link from [Commit] notification"
App version: 5268c3a

First time I see it, but I received a commit notification (from the app and web).
I still don't understand what does this notification means but the web had _a link to the commit_ where the app had _a link to the repository_.

I think the link to the commit is the good one.

[2016-09-14 17:32] #574 closed, assigned to nobody

[2016-09-14 17:43] alorma commented on #571
Where?

Those tabs should show an icon instead of titles

[2016-09-14 17:48] alorma commented on #573
Hi, I protected it from crash.

Please, could you provide a way to reproduce? Link?

[2016-09-14 19:12] farbodsz commented on #571
I mean like the Toolbar text when tabs change. Sorry, I wasn't very clear when I mentioned.

![Screenshot_2016-09-14-20-11-29.png](http://i.imgur.com/IAY5Abz.png)

![Screenshot_2016-09-14-20-11-39.png](http://i.imgur.com/yD10mFb.png)

[2016-09-14 19:13] alorma commented on #571
Oh ok

I will fix asab

[2016-09-14 19:18] farbodsz commented on #571
I've updated my previous comment to show screenshots if that helps. Thanks ;)

[2016-09-14 19:19] farbodsz commented on #566
Shouldn't these all be reported as separate issues?

[2016-09-14 19:29] alorma commented on #566
One issue per bug, please

[2016-09-14 19:29] #566 closed, assigned to nobody

[2016-09-14 19:30] GeorgeWL opened #575 "unable to edit after post"
https://github.com/ccrama/Slide/issues/2160<br /><br />https://streamable.com/xq21

[2016-09-14 19:31] alorma commented on #575
? please, explain the problem

[2016-09-14 19:43] farbodsz opened #576 "Repository 'releases' tab missing some releases"
A separate issue created from one mentioned in #566 by @DJCrapsody.
<br />
<br /><img src="https://camo.githubusercontent.com/11abb5fc1ff79cd36c7fb016935bdc52b01a30bb/687474703a2f2f692e696d6775722e636f6d2f32636b5a6634452e706e67"/>
<br />
<br />Compared to the actual (from the webpage):
<br />
<br /><img src="https://camo.githubusercontent.com/4c0d492a74b8bbd27f89d69543cc196452152448/687474703a2f2f

[2016-09-14 19:44] farbodsz opened #577 "Unreadable dark theme text when opening MD file"
A separate issue from one in #566 mentioned by @DJCrapsody

<img src="https://camo.githubusercontent.com/879daf4d2c12c912536e3e170163cdf3db4a2990/687474703a2f2f692e696d6775722e636f6d2f375649336c41312e706e67" />

[2016-09-14 19:52] alorma commented on #577
which version of the app?

[2016-09-14 19:56] farbodsz commented on #577
I'm honestly not sure - I just created this as a separate issue from the list mentioned in the other issue.

I've just tested on my phone and I, who have the latest version of the app, am not experiencing this issue. I assume @DJCrapsody hadn't updated his app version or the issue was created before the update fixing it.

Anyways, I'll close this as it seems to work with the latest version, but so

[2016-09-14 21:03] GeorgeWL commented on #575
when I attempt to edit a comment on an issue,  the edit doesn't show as being made in the interface.

And it doesn't propagate to the web version either.

[2016-09-14 21:19] MelvynEzi commented on #573
Could be due to internet connection. Will check again.

[2016-09-14 21:20] MelvynEzi commented on #577
This is on 4.4.2, play store release.

[2016-09-14 21:23] farbodsz commented on #577
@DJCrapsody Have you updated to 4.4.3 to see if this issue still persists?

[2016-09-14 22:42] MelvynEzi commented on #577
Just checked, I'm on 4.4.3 and it's still the same. Has been like this since 4.4.2 or even before.

[2016-09-14 22:45] MelvynEzi commented on #575
I can confirm. I had to use the browser on desktop version to edit the comment.

[2016-09-14 22:47] MelvynEzi commented on #573
EDIT: Found out that it crashes when attempting to view from a Pull Request.

In addition, render shows the following.

![Screenshot_2016-09-15-10-06-29.png](http://i.imgur.com/lcYsnHj.png)

[2016-09-15 01:56] MelvynEzi opened #578 "Crash when trying to view image in Pull Requests"
Build version: 4.4.3
Build date: 2016-09-11 20:49:48
Current date: 2016-09-15 09:56:06
Device: LGE LG-D838

Stack trace:
java.lang.RuntimeException: Unable to start activity ComponentInfo{com.alorma.github/com.alorma.github.ui.activity.FileActivity}: java.lang.NullPointerException: Attempt to read from field 'java.lang.String com.alorma.github.sdk.bean.info.RepoInfo.branch' on a null object refere

[2016-09-15 01:58] MelvynEzi commented on #564
Reopened as issue has been split.

[2016-09-15 03:29] nisavid opened #579 "Broken diff view and crash when viewing a file in a PR"
When I view a PR, then navigate to its files, then tap on a file, I see two oddities:
- The diff contents are shown entirely on one very long line.  The previous view (with multiple files) looks fine, but the single-file view is messed up.

![Broken single-file diff view](https://drive.google.com/uc?export=view&id=124_uLL0s-82tQ3QR26rKJvihA2sUYm9sHw)
- If I tap _CODE_, Gitskarios brings me to an e

[2016-09-15 03:51] nisavid opened #580 "Feature: View and interact with PR reviews"
GitHub [recently released](https://github.com/blog/2256-a-whole-new-github-universe-announcing-new-tools-forums-and-features) some substantial [enhancements for PR reviews](https://help.github.com/articles/about-pull-request-reviews/).
### New features on github.com
- PR collaborators can now have multiple conversations per line.

![Multiple conversations per line on github.com](http://image.prnts

[2016-09-15 05:43] farbodsz commented on #577
@DJCrapsody

That's weird since I'm on 4.4.3. I get this:

![Screenshot_2016-09-15-06-38-57.png](http://i.imgur.com/PGyyfOm.png)

Perhaps it's because of your Android version. I'm running 5.0.1.

Which version of Android are you running?

[2016-09-15 05:46] farbodsz commented on #577
Hold on. I've just noticed that you've opened the MD file rather than viewing it from the Overview tab. So after double checking, yes, I also get this issue _when opening the MD file_. Sorry about the misunderstanding.

[2016-09-15 06:30] alorma commented on #580
... github released yesterday, please hold on and let me study this new api

[2016-09-15 08:49] MelvynEzi commented on #579
Same as reported in #573

[2016-09-15 11:13] alorma commented on #580
There's no API for new review flow, we should wait until GH release it

[2016-09-15 13:34] LetItRock commented on #576
From API reference which application use: "This returns a list of releases, which does not include regular Git tags that have not been associated with a release. To get a list of Git tags, use the Repository Tags API."
Do we want to display also tags here @alorma ?

[2016-09-15 13:37] alorma commented on #576
Yes, i think we should merge tags and releases into a single list

[2016-09-15 14:06] LetItRock commented on #576
Ok, but we want to highlight releases on this list?

[2016-09-15 14:10] GeorgeWL commented on #572
what you reckon it's cause?

I'm aware it's an edge case,  cause almost everyone uses .md

[2016-09-15 14:12] alorma commented on #576
Somehow, yes :)

Any doubt contact me on slack

[2016-09-15 14:25] LetItRock commented on #576
Ok :)

[2016-09-19 03:50] MelvynEzi commented on #564
@alorma updated list of black text

[2016-09-19 03:53] MelvynEzi opened #582 "Unnecessary vertical scrollbar in readme under overview tab"
![IMG_20160919_114530.jpg](http://i.imgur.com/KN0qf5E.jpg)

Should be hidden, horizontal is fine as there's still horizontal scrolling.

[2016-09-19 23:16] MelvynEzi commented on #579
Damn this is annoying me a lot.. find myself using the mobile site more. :(

[2016-09-20 07:56] alorma commented on #579
Will fix today, sorry

[2016-09-20 11:43] MelvynEzi commented on #575
@alorma this is a functionality breaking issue. editing a freshly posted comment will not change the comment, sometimes even stating that its not ready.

[2016-09-20 11:48] alorma commented on #575
Test comment

[2016-09-20 11:49] alorma commented on #575
Mmm, i've updated an issue comment (comment above), and it changed on the web

[2016-09-20 12:15] MelvynEzi commented on #575
Test edited 1

[2016-09-20 12:16] MelvynEzi commented on #575
Test edited 2

[2016-09-20 12:16] MelvynEzi commented on #575
Hmm.. seems like when having a bad connection causes the changes to be lost when attempting to edit.

[2016-09-22 06:16] MelvynEzi commented on #575
Somehow, some comments (in another pull request of another repo) would only show a toast "Not ready"

[2016-09-22 12:13] LetItRock commented on #576
Will be fixed with PR:
https://github.com/gitskarios/Gitskarios/pull/583

[2016-09-23 18:43] #576 closed, assigned to alorma

[2016-09-28 08:31] GeorgeWL commented on #575
Could it be something as simple as the API being slow to respond occasionally?

[2016-09-28 09:17] MelvynEzi commented on #575
"Not ready" toast shows even after 1 week.

[2016-10-03 09:47] GeorgeWL commented on #575
I just had a new one.  edit causes app crash, I guess it's a new issue.

[2016-10-03 09:55] GeorgeWL opened #584 "new issue with editing comments: crash upon attempting an edit"
Upon attempting to edit a comment on any issue, the app crashes to the Failure Screen (with the upside down bug)  and then requests a restart. <br /><br />The edit made doesn't propagate to the web or the app.

This is one the beta version of the app, on android N.

 <br /><br />https://streamable.com/rmyf<br /><br />Doesn't seem to happen in all instances <br /><br />Error message:<br /><br />

`

[2016-10-03 22:23] wallefan opened #585 "Can't fork"
I tapped Fork on a repo and it didn't seem to do anything except the star animation thing every other time I tapped it.  I checked my own repos every time and nothing appeared.  Not sure what else to say.

[2016-10-04 07:36] pkramme opened #586 "Shouldn't we remove TravisCI?"
Shouldn't we remove Travis when it fails everytime? Why is it in?

[2016-10-04 08:17] alorma commented on #586
Hi.

No, travis not always fail, it fail for PR's because there is an encryptation made by my keys on it, and i don't know why it fails for you :S

If fails in the dev branch is ok, so it can't compile.

Travis CI is used to deploy the application to play store, so no, we re not going to remove it

[2016-10-04 08:17] #586 closed, assigned to nobody

[2016-10-04 08:43] pkramme commented on #586
Didn't know the Appstore workflow. Thanks.

[2016-10-04 12:56] GeorgeWL commented on #575
#584

[2016-10-05 07:03] fahrradflucht opened #587 "Crash when tapping on a Milestone"
Steps to reproduce
- Go to the issues of a repo
- Hit the milestone icon in the upper right corner
- tap on a milestone

Crash message:

[code]

[2016-10-06 00:30] meepingsnesroms opened #588 "crash on attempt to look at comment."
Build version: 4.4.4
Build date: 1979-11-30 00:00:00
Current date: 2016-10-05 17:27:58
Device: Motorola Moto E

Stack trace:
java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String core.User.getLogin()' on a null object reference
    at core.repositories.Repo.toInfo(Repo.java:333)
    at com.alorma.github.ui.fragment.events.EventsListFragment.onItemSelected(EventsListFra

[2016-10-06 09:12] farbodsz opened #589 "Crash when trying to view issue"
Build version: 4.4.4
Build date: 1979-11-30 00:00:00
Current date: 2016-10-06 10:11:54
Device: Samsung GT-I9505

Stack trace:
java.lang.IllegalStateException: Fatal Exception thrown on Scheduler.Worker thread.
    at rx.internal.schedulers.ScheduledAction.run(ScheduledAction.java:59)
    at android.os.Handler.handleCallback(Handler.java:739)
    at android.os.Handler.dispatchMessage(Handler.java:9

[2016-10-09 15:01] xChitose opened #591 "Crash when attempting to edit comment."
Build version: 4.4.4 <br />Build date: 1979-11-30 00:00:00 <br />Current date: 2016-10-09 10:59:51 <br />Device: LGE LGLS992 <br /><br />Stack trace:  <br />java.lang.RuntimeException: Unable to start activity ComponentInfo{com.alorma.github/com.alorma.github.ui.activity.ContentEditorActivity}: java.lang.ClassCastException: com.alorma.github.sdk.bean.dto.response.ShaUrl cannot be cast to com.alorm

[2016-10-12 22:11] GeorgeWL commented on #591
Closed as this appears to be a duplicate of #588

[2016-10-12 22:11] #591 closed, assigned to nobody

[2016-10-12 22:11] GeorgeWL commented on #588
Closed as this appears to be a duplicate of #584

[2016-10-12 22:11] #588 closed, assigned to nobody

[2016-10-14 17:17] dpdani opened #592 "Crash on profile click"
Hello,
I'm quite new to GitSkarios so I'm not really sure this is the right way to post this kind of issues.
Basically, the application crashed and went to the bug view after pressing on any profile picture from the main view.
Not quite sure this is a known issue, but thought I could post it anyway.
Btw, I'm posting this from GitSkarios, so this is no fatal bug IMO.

Here's the stack trace produce

[2016-10-17 08:34] webmaster33 opened #593 "After switching account, content is displayed from other account"
After switching account, content is displayed from other account. <br />Should be cleared & reloaded.

[2016-10-17 08:38] webmaster33 opened #594 "Display repository on Issues/Created page"
_Issue:_<br />Display repository information on Issues/Created page. Otherwise user doesn't know to which repository the issue belongs to. <br /><br /><br />> App version<br />><br />> Git build hash from settings:<br />><br />> Device<br />><br />> Device android version<br /><br /><br />_Steps to reproduce:_<br /><br /><br /><br /><br />_Crash (optional):_<br /><br /><br />_Screenshots_<br /><br

[2016-10-17 10:31] webmaster33 opened #595 "Crash"
Build version: 4.4.4 <br />Build date: 1979-11-30 00:00:00 <br />Current date: 2016-10-17 12:28:12 <br />Device: Samsung GT-I9305 <br />Rom: MIUI V5 4.6.20<br /><br />Stack trace:  <br />java.lang.RuntimeException: Unable to start activity ComponentInfo{com.alorma.github/com.alorma.github.ui.activity.ContentEditorActivity}: java.lang.ClassCastException: com.alorma.github.sdk.bean.dto.response.ShaU

[2016-10-18 16:30] alorma commented on #595
Unable to reproduce

[2016-10-18 16:37] ghost commented on #595
It have a custom rom. it can create problem?

[2016-10-18 16:38] alorma commented on #595
Describe steps to reproduce

[2016-10-18 16:45] #594 closed, assigned to nobody

[2016-10-18 16:46] ghost opened #596 "Add a highlighting of the more detailed syntax"
It would be a great added the following:
<br />a more detailed listing of keywords stood out according to the programming language!

[2016-10-18 16:51] webmaster33 commented on #594
You close everything without resolving?

[2016-10-18 16:52] alorma commented on #594
@webmaster33:
<img width="374" alt="captura de pantalla 2016-10-18 a las 18 52 22" src="https://cloud.githubusercontent.com/assets/887462/19487669/06811f22-9564-11e6-95c0-bc06adf93ad6.png">

This means is closed on a commit, so it's fixed

[2016-10-18 16:53] webmaster33 commented on #595
- go to Notifications page,
- tap an Issue,
- add a comment
- try to edit comment immediately, by tapping the Edit icon.
- CRASH

[2016-10-18 16:54] alorma commented on #595
Thanks

[2016-10-18 16:54] ghost commented on #595
NOT CRASH FOR ME!

[2016-10-18 16:55] #592 closed, assigned to nobody

[2016-10-18 16:55] webmaster33 commented on #595
I was able to reproduce this bug under MIUI v5 4.6.20 (Android v4.1.1).

[2016-10-18 16:56] alorma commented on #595
Testing

[2016-10-18 16:57] ghost commented on #595
see my old comment (20 minutes ago)

[2016-10-18 17:00] ghost opened #597 "Support Development Activity Bug."
![Screenshot_2016-10-18-18-58-27.png](http://i.imgur.com/mlVkDDH.png)

Support Development Activity has Graphical Button glitch.

[2016-10-18 17:01] alorma commented on #597
Ouch!

[2016-10-18 17:02] webmaster33 commented on #594
Your text is very small after @webmaster33, unreadable. Could be fixed? Sorry not starting a new issue for it, but this is the place where it happened.

[2016-10-18 17:03] alorma commented on #594
????

[2016-10-18 17:04] webmaster33 commented on #594
Can post a screenshot here?

[2016-10-18 17:07] ghost commented on #594
create a new issues. it's the better way.

[2016-10-18 17:08] alorma commented on #594
I not understand, what's the problem @webmaster33 ?? If there's another bug, please open a new issue

[2016-10-18 17:10] #596 closed, assigned to nobody

[2016-10-18 17:13] #595 closed, assigned to nobody

[2016-10-18 17:14] #584 closed, assigned to alorma

[2016-10-18 17:15] webmaster33 opened #598 "Inserted image size is too small"
Inserted image size is too small.
Screenshot:

![Screenshot_2016-10-18-19-05-02.png](http://i.imgur.com/X7a8yGu.png)

[2016-10-18 17:15] #597 closed, assigned to nobody

[2016-10-18 17:16] webmaster33 commented on #598
Do you see your inserted image in your comment?
It is shrinked too much.

[2016-10-18 17:18] webmaster33 commented on #594
Ok, posted a new issue. Thanks for fixing this closed issue.

[2016-10-18 17:18] alorma commented on #571
Fixed

[2016-10-18 17:18] #571 closed, assigned to nobody

[2016-10-18 17:18] #561 closed, assigned to nobody

[2016-10-18 17:19] #554 closed, assigned to nobody

[2016-10-18 17:20] webmaster33 commented on #575
I also had crash, when tapping the edit icon.

[2016-10-18 17:21] webmaster33 commented on #584
Is it fixed?

[2016-10-18 17:22] alorma commented on #584
Yes

[2016-10-18 17:22] alorma commented on #575
Fixed

[2016-10-18 17:22] ghost commented on #575
Nope for me.

[2016-10-18 17:23] webmaster33 commented on #595
Were you able to reproduce?

[2016-10-18 17:24] ghost opened #599 "Crash when tap image in "Event" section!"
Build version: 4.4.5 <br />Build date: 1979-11-30 00:00:00 <br />Current date: 2016-10-18 19:23:09 <br />Device: HUAWEI VNS-L31 <br /><br />Stack trace:  <br />java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.equals(java.lang.Object)' on a null object reference<br />   at com.alorma.github.ui.view.UserAvatarView.onClick(UserAvatarView.java:77)<br />   at a

[2016-10-18 17:24] #599 closed, assigned to nobody

[2016-10-18 17:26] ghost commented on #598
it's very small, but you can open this with a click.

[2016-10-18 17:27] webmaster33 commented on #598
It would be possible to give a bigger image size, as I see the image itself is big.

[2016-10-18 17:28] webmaster33 commented on #584
Great! Quick job!

[2016-10-18 17:28] alorma commented on #598
it comes as html tag, and now i don't know how to make it bigger :S

[2016-10-18 17:32] alorma commented on #595
Yes, and now it's fixed

[2016-10-18 17:32] alorma commented on #575
I not deployed it to production yet....

[2016-10-18 17:36] webmaster33 opened #600 "Notifications page, items not hiding after they was viewed"
On Notifications page, items not hiding after they was viewed.

I have to tap the 3 point icon, tap Make as read to hide it.

1) Could be possible to make as read after it was opened?

2) Also put a menu item on the page viewing the issue, to make as read?

Thanks!

[2016-10-18 17:37] alorma commented on #600
1) You can configure it in settings

2) Not for now, i need a thread_id and api doesn't provide it

[2016-10-18 17:37] webmaster33 commented on #595
Thank you very much! You are very quick developer!

[2016-10-18 17:38] ghost commented on #600
today we have found 10 bug XD

[2016-10-18 17:40] webmaster33 commented on #600
1) uhm, sorry, I missed this option :-(

[2016-10-18 17:43] webmaster33 commented on #600
2) not sure, if you need anything special for this. Just a timestamp, when user did open the issue. You store it locally. Then query the timestamp of the last comment. If timestamp of last comment is bigger, then this issue has new comment. Does it make sense?

[2016-10-18 17:48] alorma commented on #600
To mark notification as read i need a thread_id

[2016-10-18 17:49] webmaster33 commented on #600
thread_id = issue id?

[2016-10-18 18:11] webmaster33 commented on #598
This way?
You set the size of the image:
`<img src="img.jpg" style="width: 100px; height: 50px;" width="100" height="50">`

[2016-10-18 18:14] alorma commented on #600
no, is not the same.

https://developer.github.com/v3/activity/notifications/

[2016-10-18 18:14] #600 closed, assigned to nobody

[2016-10-18 18:15] alorma commented on #598
I know how to set an image in html, but i should parse html content to search `<img`tag, and update properties..., not easy

[2016-10-18 20:32] webmaster33 commented on #598
Well, if the image tag comes from github program, then likely the output is always the same. So you can identify <img tag and find height and width attributes easily with regular expression (don't know java).

[2016-10-18 21:04] LetItRock commented on #578
This crash also happenes when trying to check image file from commit info window. I will investigate that.

[2016-10-18 21:16] MelvynEzi commented on #575
Edit: solved stacktrace

[2016-10-19 00:35] alorma commented on #575
O_o, well, it's other crash

[2016-10-19 05:48] shyim opened #601 "Issue edit "description updated" after going Back from edit view"
Show at Title

[2016-10-20 16:35] webmaster33 opened #602 "Starred a repository, not shown immediately"
I starred a repository, but when I refreshed in starred tab, it is not shown.

Maybe a caching problem?

[2016-10-21 15:32] sc4ryb3ar opened #603 "Event page error"
Got this today when I was trying to view a comment in my Events page. I believe it has been deleted...dunno though, not in a place I can check.

Build version: 4.4.8
Build date: 1979-11-30 00:00:00
Current date: 2016-10-21 11:28:52
Device: LGE D850

Stack trace:
java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String core.User.getLogin()' on a null object reference
    a

[2016-10-21 19:58] IzzySoft opened #604 "Attach APK to releases?"
As this is open source (but not on F-Droid): Would you consider attaching the `.apk` file to the `releases/` for people without playstore access? Just the "stable" ones would be fine, though "usable Betas" might be welcome, too :)

[2016-10-22 11:10] webmaster33 commented on #575
Test message. Edited.

[2016-10-22 11:12] webmaster33 commented on #575
Now comment editing works for me, doesn't crash. The only issue is, that issue is not refreshing automatically, after edit was submitted.
Version 4.4.8.
Hmmm. Now refreshed automatically after editing.

[2016-10-22 11:16] webmaster33 opened #605 "Show app version in About menu item"
Should show app version in About menu item.

[2016-10-22 11:21] webmaster33 opened #606 "When editing an issue in full screen, should still show title"
When editing an issue in full screen, should still show title.<br />Text should show in a frame, while keeping the title viewable & editable on same screen. <br />

[2016-10-22 11:23] alorma commented on #605
What About section you mean?

[2016-10-22 11:27] webmaster33 commented on #605
Which is missing :-)

[2016-10-22 11:29] MelvynEzi commented on #605
Should also remove changelog if there isn't any intention of updating it. It's misleading. App Version in the Settings page should be fine.

[2016-10-22 12:12] MelvynEzi commented on #575
You'll have issues editing comments on PRs and issues in repos that you don't own (other than this).

[2016-10-22 12:55] webmaster33 commented on #605
Version is also fine in Settings, just thought that About is a standard in software industry.

[2016-10-22 13:07] webmaster33 commented on #575
This is not my issue, but still does not crash, when editing. Also I don't see edit icon on other comments, just mine.

[2016-10-23 13:40] alorma commented on #575
So, can i close the issue?

[2016-10-23 16:18] tomscholz opened #607 "Crashes All the time"
Build version: 4.4.8
Build date: 1979-11-30 00:00:00
Current date: 2016-10-23 18:17:59
Device: OnePlus ONEPLUS A3003

Stack trace:
java.lang.IllegalStateException: Fatal Exception thrown on Scheduler.Worker thread.
    at rx.internal.schedulers.ScheduledAction.run(ScheduledAction.java:59)
    at android.os.Handler.handleCallback(Handler.java:739)
    at android.os.Handler.dispatchMessage(Handler.j

[2016-10-23 17:26] webmaster33 commented on #607
It seems, Xposed is installed.

[2016-10-23 17:27] tomscholz commented on #607
@webmaster33 Is that a problem? :)

[2016-10-23 20:50] webmaster33 commented on #607
Xposed can cause problems sometimes. Not necessarily Xposed is the problem, but it can be.

[2016-10-24 09:12] alorma commented on #607
I most not do support to rooted devices, i will check this crash trying to fix it

[2016-10-25 18:17] gitskarios-dev commented on #604
i had that, but it's not working now :$, i will fix it soon

[2016-10-25 19:07] IzzySoft commented on #604
Good to read! Once done, feel free to close this issue (which will send me a notification then so I will know ;) Thumbs up!

[2016-10-26 01:24] farbodsz opened #608 "Release detail page showing "Assets" as title"
I found that if you click on a release (not just a tag) to go to its detail page, the title displayed reads "Assets" which doesn't really make much sense.

![2016-10-25 02.23.44.png](http://i.imgur.com/fw1FVRr.png)

[2016-10-26 08:02] alorma commented on #608
ok, thanks

[2016-10-26 10:15] GeorgeWL commented on #519
fixed?

[2016-10-27 16:11] rancidfrog opened #609 "App crash, force restart when libked to comment in code"
On events tab, clicked on a link to a comment on a commit - crashes app, force restart:<br /><br />```<br />java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String core.User.getLogin()' on a null object reference<br />    at core.repositories.Repo.toInfo(Repo.java:333)<br />    at com.alorma.github.ui.fragment.events.EventsListFragment.onItemSelected(EventsListFragment.j

[2016-10-30 01:43] webmaster33 opened #610 "Repositories should start with optional starred tab"
When I change to Repositories menu, it should switch to the Starred tab automatically.

Or at least add an option to be able to select the default tab at Repositories menu.

Thanks!

[2016-10-30 01:48] webmaster33 opened #611 "Text entered into comment field is not copied, when maximizing to full screen"
Text entered into comment field is not copied, when maximizing to full screen.

Reproducing steps:
1) start a comment
2) enter text into comment field
3) press maximize icon
4) on full screen you don't see the text you entered in comment field

[2016-10-30 07:29] mmoayyed opened #612 "notifications keep showing up"
Notifications on repositories keep showing up again and again unless the entry is marked as read on github.

[2016-10-30 07:30] mmoayyed opened #613 "Setting labels is buggy"
If a repository has a large number of labels available, they show up in multiple lists when setting labels. It's also impossible to select multiple labels as some override the others somehow.

[2016-10-30 07:33] mmoayyed opened #614 "Navigating issues caused crash at random"
Build version: 4.4.8
Build date: 1979-11-30 00:00:00
Current date: 2016-10-30 00:32:07
Device: Huawei Nexus 6P

Stack trace:
java.lang.IllegalStateException: Fatal Exception thrown on Scheduler.Worker thread.
    at rx.internal.schedulers.ScheduledAction.run(ScheduledAction.java:59)
    at android.os.Handler.handleCallback(Handler.java:751)
    at android.os.Handler.dispatchMessage(Handler.java:95

[2016-10-30 09:22] webmaster33 commented on #612
There is an option in the settings to change this behavior.

[2016-10-31 10:26] mmoayyed commented on #612
Thanks! That works.

[2016-10-31 10:26] #612 closed, assigned to nobody

[2016-10-31 11:02] mmoayyed opened #615 "mark all notifications as read at one"
Please provide an option so all notifications can be marked as read at once in all repositories and categories.

[2016-10-31 16:15] webmaster33 commented on #587
I also get crash, when changing milestone:
Build version: 4.4.8
Build date: 1979-11-30 00:00:00
Current date: 2016-10-31 17:13:35
Device: Samsung GT-I9305

Stack trace:
java.lang.RuntimeException: Failure delivering result ResultInfo{who=null, request=66748, result=-1, data=Intent { (has extras) }} to activity {com.alorma.github/com.alorma.github.ui.activity.repo.RepoDetailActivity}: java.lang.Cla

[2016-11-01 12:18] mmoayyed commented on #612
actually I take that back. that option is turned on but notifications keep showing up again and again even after I have viewed and browsed to the issue or repo that had the notification

[2016-11-01 12:19] mmoayyed opened #616 "Need to see project milestones"
There does not seem to be a way to see a project's milestones via the app.

[2016-11-01 12:20] mmoayyed commented on #616
never mind. found it

[2016-11-01 12:20] #616 closed, assigned to nobody

[2016-11-01 12:44] alorma commented on #612
You can mark them as readed

[2016-11-01 14:22] mmoayyed commented on #612
Sure, but if a notification comes up and I browse to it via the app, shouldn't the notification automatically be marked as read?

[2016-11-01 14:25] alorma commented on #612
There's no option to mark as read, if you visit issue from notification directly (android notification), but in the notifications screen you can mark them as read.

BTW, there's a setting on Settings screen, to mark them read automatically

[2016-11-01 14:46] rancidfrog commented on #609
When there is an event of comment in code, app crashes or has error can not access

[2016-11-01 14:50] alorma commented on #609
Can you provide the comment event url? Thanks

[2016-11-01 19:18] rancidfrog commented on #609
For example, in the following [PR](https://github.com/sonyxperiadev/camera/pull/30) there is comment in code which causes app popup:
![](https://s17.postimg.org/4r01yeptb/Screenshot_20161101_221324.png)

For the other link, which causes restart app popup, it cannot be copied.
I tried long-clicking event in app but nothing happens.
Events do not appear in web

[2016-11-01 19:21] alorma commented on #609
Ok, it's enough, thanks

[2016-11-01 19:29] rancidfrog opened #617 "Text empty when going full screen in new comment"
After starting to type a new comment, when clicking the arrow box to go full/advance screen, text written not applied. It is empty:<br />![](https://s13.postimg.org/byy4rzosn/Screenshot_20161101_221619.png)<br />Empty,<br />![](https://s12.postimg.org/kvky6rfd9/Screenshot_20161101_221624.png)

[2016-11-01 19:31] rancidfrog commented on #609
Is it possible to have longclick event to copy link, such that you can open in browser or report broken links?

[2016-11-01 19:34] alorma commented on #609
yes, i will implement that

[2016-11-01 19:37] rancidfrog commented on #609
The other event I believe links to this, https://github.com/oshmoun/kernel/commit/67aac2ff05
Causing app to restart:
![](https://s16.postimg.org/4ed0qo9xh/Screenshot_20161101_223600.png)

[2016-11-01 19:39] rancidfrog commented on #609
It works now when I click the link above, but it does not show comment and if you open it in web browser you will see a comment, which causes app to crash when linking to it via events

[2016-11-01 22:57] rancidfrog commented on #617
Duplicate of #611

[2016-11-01 22:57] #617 closed, assigned to nobody

[2016-11-03 05:38] webmaster33 opened #618 "Copy text to clipboard from issues/comments"
It would be fine to make possible to Select & Copy text to clipboard from issues/comments.<br /><br />Also clicking to URLs has no effect at all.

[2016-11-03 05:59] webmaster33 opened #619 "Wrap long repo names in Repositories"
Wrap long repo names in Repositories. <br /><br />When there are similar long names, which differs only at the end, user can not differentiate between repo names. <br />

![Screenshot_20161103-070130.png](http://i.imgur.com/dW6ag5y.png)

[2016-11-03 18:48] alorma commented on #613
Can you provide a screenshot, and repository link, so i can test it? Thanks

[2016-11-03 18:49] mmoayyed commented on #613
I'll have to get back to you on the screenshot, but the repo I use is https://github.com/apereo/cas

[2016-11-05 12:10] #614 closed, assigned to nobody

[2016-11-05 12:10] alorma commented on #607
Done

[2016-11-05 12:10] #607 closed, assigned to nobody

[2016-11-05 12:15] #609 closed, assigned to nobody

[2016-11-05 12:32] alorma commented on #609
Hi @rancidfrog .

Checking that PR, i see it shows `unknown repository` on head branch.

What does it means? Is the head repository private?

[2016-11-05 12:36] alorma commented on #611
Testing

[2016-11-05 12:37] #611 closed, assigned to nobody

[2016-11-05 12:39] alorma commented on #603
Done

[2016-11-05 12:39] #603 closed, assigned to nobody

[2016-11-05 12:42] #618 closed, assigned to nobody

[2016-11-05 12:43] alorma commented on #618
Done

[2016-11-05 12:43] alorma commented on #582
Updated repo page

[2016-11-05 12:43] #582 closed, assigned to nobody

[2016-11-05 16:23] webmaster33 commented on #618
Great! Thanks very much!
Confirming that works fine.

[2016-11-05 16:24] webmaster33 commented on #611
Thanks very much!
Confirming that works fine.

[2016-11-05 16:27] webmaster33 commented on #587
This seems to work in last version.

[2016-11-05 16:28] webmaster33 commented on #575
This seems to work in last version. Edited.

[2016-11-05 16:33] #575 closed, assigned to alorma, pkramme

[2016-11-05 16:34] #587 closed, assigned to nobody

[2016-11-05 18:06] webmaster33 commented on #605
I still miss this small change.
I don't know, which version I do use.

[2016-11-05 18:07] gitskarios-dev commented on #605
Available on release 4.5.5 (publishing now)

[2016-11-05 22:40] webmaster33 commented on #605
Thanks!

[2016-11-06 10:47] webmaster33 opened #620 "Patching a kernel (how to?)"
How can I patch a kernel, if it is not available as recovery zip format?

[2016-11-06 10:48] #605 closed, assigned to nobody

[2016-11-06 10:49] alorma commented on #620
¿? What you mean

[2016-11-06 10:50] webmaster33 commented on #620
Dual Boot Patcher can only patch recovery zip files. But if it is a tar.gz, it can't.

[2016-11-06 10:52] alorma commented on #620
Hi @webmaster33 i guess you are not in the correct repository. This is Gitskarios, not a... linux / android boot patcher :S

[2016-11-06 10:54] webmaster33 opened #621 "Can not create new issue, if going through Repo link"
1) open an issue <br />2) tap the Repo link <br />3) tap the issues tab<br />4) the new issue icon is missing on that page <br /><br />Could be possible to fix it?

[2016-11-06 10:55] webmaster33 commented on #620
Uhm. Sorry. Can I delete the issue?

[2016-11-06 10:56] alorma opened #622 "Test issue"
test content

[2016-11-06 10:57] alorma commented on #621
What is the assignee link?

[2016-11-06 10:58] #620 closed, assigned to nobody

[2016-11-06 10:58] alorma commented on #620
Closed :D

[2016-11-06 11:00] webmaster33 commented on #621
Ok, not the assignee, but the link below, the repo link.

[2016-11-06 11:04] alorma commented on #621
Oh, ok you mean the gitskarios/gitskarios link from issue?

[2016-11-06 11:05] webmaster33 commented on #621
Yeah

[2016-11-06 11:10] #621 closed, assigned to nobody

[2016-11-06 11:10] alorma commented on #621
Done, will release soon

[2016-11-06 11:23] webmaster33 commented on #621
Thanks very much! You're amazing, very quick developer!

[2016-11-07 08:48] k0shk0sh opened #623 "RIP: Old Interface"
Hello There, i'm definitely with updating the app from time to time, however when the update does really impact your users behaviour in the app then this should be a problem.
<br />i'm not hating on the new UI, I'm just saying that its not really applicable for such app.
<br />
<br />Instead of one click to read the read me now we have to do two clicks & wait longer.
<br />1- click on repo.
<br />

[2016-11-07 08:54] alorma commented on #623
4- i'm working on caching repositories, so wait will not be need anymore

And, now you have an option on setting to load full readme instead of short version.

When readme is loading theres a wheel indicator, does it not show on your device?

I tested with many repos, and full readme looks pretty on all of theme please send me repo link if you found any that is too large, or causes lag

There's sp

[2016-11-07 08:58] k0shk0sh commented on #623
here is one i just was at https://github.com/ImmortalZ/TransitionHelper

enable full readme and see it yourself, try and scroll horizontally and see how it does lag.
for the tabs screen there is an indication of loading but not on the full readme.
is there anywhere i can find the latest version which has the old interface?

[2016-11-07 09:03] alorma commented on #623
Ok, full readme screen needs indicator :b

With old interface, scrolling horizontal and vertical caused lag, also.

I will check if there's any way to improve the html content

[2016-11-07 09:04] alorma commented on #623
i can send you the latest version with old interface, but you will get updates anyway

[2016-11-07 09:06] k0shk0sh commented on #623
maybe because it was taking the whole screen the scrolling wasn't there?
actually for the webview scrolling horizontally i had the same exact issue awhile ago and i solved by appending a custom css to the webview, let me find it and comment back.
i wont update the app  just pass it to me :D

[2016-11-07 09:08] alorma commented on #623
if you have a custom css that solves it, you will be ok with this version? Or need it full width?

[2016-11-07 09:08] k0shk0sh commented on #623
Basically i have this handy method which wraps the text to next line when there is no much space, you could give it a try tho.:

[code]

[2016-11-07 09:09] k0shk0sh commented on #623
@alorma i will definitely need the old version, i just love how it was, i use it consistently so yeah, please bass me the old one :)

[2016-11-07 09:10] alorma commented on #623
Looks great, i will try later

[2016-11-08 08:27] webmaster33 opened #624 "Lost issue notifications, when opening while no internet"
I lost issue notifications, when opened Gitskarios, while there was no internet connection.

[2016-11-08 08:29] alorma commented on #624
What you mean by lost?

[2016-11-08 09:41] webmaster33 commented on #624
1) start Gitskarios, while there is internet, and get notifications about issue updates. Exit.

2) start Gitskarios by tapping the notification bar, while there is no internet connection. Exit.

3) start Gitskarios again. The red notifications from Gitskarios are gone, and can't see what's new.

[2016-11-08 09:49] webmaster33 opened #625 "Order of issues"
When I comment an issue, I think the commented one should be bringed to the top of issue list.
But currently it keeps the position, doesn't come to top.

Reordering the issues might be a good idea:
Order by: last comment date (default), creation date.

[2016-11-08 10:00] alorma commented on #624
You can access notifications from side menu ;)

[2016-11-08 10:01] alorma commented on #625
I will check if it's possible

[2016-11-08 12:56] webmaster33 commented on #624
Yes, but they are not showing as new, after the no internet issue.

[2016-11-09 16:39] aga5tya opened #626 "Support to add reactions for comments/issues."
Could not find any way to add reactions to replies/comments in issues.  Is this feature supported in the application. Kudos to the app,  really liked the new interface. 👏

https://github.com/blog/2119-add-reactions-to-pull-requests-issues-and-comments

[2016-11-09 16:43] aga5tya opened #627 "Going back when application is accessed from notifications closes the application and exits."
Right now if i receive the notifications,  i open them and then try to go back,  the application closes/exits.

Expected behavior should be to land up in the default page in the application, atleast when i click the back arrow on the header bar.

[2016-11-09 20:51] naive17 opened #628 "[Fix] Bug while loading followers"
If you reload the followers screen the same followers will be added, as example if i have only "luca" as follower, if i reload i'll have two "luca" and if i reload another time i'll have three and so on

*Steps to reproduce:reload multiple time in the followers screen

*Crash (optional):*

*Screenshots*

[2016-11-10 09:47] alorma opened #629 "Not open"
https://github.com/mogujie/ThinRPlugin

[2016-11-10 14:26] KimWahlman opened #630 "Source code not show last reference"
*Issue:* Repositories doesn't show the current version of the repository.
<br />> App version 4.5.7
<br />> Git build hash from settings: 9e00da5
<br />> Device: LG G3
<br />> Device android version: 5.0
<br />
<br />*Steps to reproduce:*
<br />1. Open the application
<br />2. Open a repository
<br />3. Select a branch if you keep your master branch tidy
<br />4. Select "View Code"
<br />5. Only t

[2016-11-10 14:53] alorma commented on #630
WOW, that's a BUG!

[2016-11-11 13:33] alorma commented on #610
Done

[2016-11-11 13:33] #610 closed, assigned to nobody

[2016-11-11 19:24] IzzySoft commented on #604
Just seeing a new release today (congrats!), so may I ask if the APK was just accidentally forgotten?

[2016-11-11 19:27] alorma commented on #604
Hi @IzzySoft

No, it's not forgotten, i don't know why but travis is unable to find apk files.... i'm checking it :$

[2016-11-11 20:59] webmaster33 commented on #627
+1

[2016-11-11 20:59] webmaster33 commented on #610
Great! Thanks very much!

[2016-11-11 21:06] webmaster33 commented on #610
In settings I see only Default tab option. Is it the same or a new feature?

[2016-11-11 21:09] alorma commented on #610
Mmm yes, that's the option to start repository with a selected tab

[2016-11-11 23:07] IzzySoft commented on #604
@alorma fingers crossed then! And waiting patiently. Next bump not before end of month :)

[2016-11-12 00:02] alorma opened #631 "Crash"
Build version: v.4.5.12
Build date: 1979-11-30 00:00:00
Current date: 2016-11-12 01:02:00
Device: Huawei Nexus 6P

Stack trace:
java.lang.RuntimeException: Parcelable encountered IOException writing serializable object (name = core.GithubCommentReactions)
	at android.os.Parcel.writeSerializable(Parcel.java:1527)
	at core.GithubComment.writeToParcel(GithubComment.java:44)
	at android.os.Parcel.writ

[2016-11-12 11:53] #630 closed, assigned to nobody

[2016-11-12 12:01] #631 closed, assigned to nobody

[2016-11-12 12:06] #629 closed, assigned to nobody

[2016-11-12 12:24] #628 closed, assigned to nobody

[2016-11-12 12:26] #627 closed, assigned to nobody

[2016-11-12 13:10] alorma commented on #604
Should work now, check it on https://github.com/gitskarios/Gitskarios/releases/tag/v.4.6.1

[2016-11-12 13:23] #604 closed, assigned to nobody

[2016-11-12 17:37] IzzySoft commented on #604
Indeed it does, thanks! Just added it [here](https://apt.izzysoft.de/fdroid/index/apk/com.alorma.github), and updated it [here](https://android.izzysoft.de/applists/category/named/network_techsites#group_910) :)

[2016-11-12 17:53] alorma commented on #604
Oh, Thanks :D

[2016-11-12 19:21] IzzySoft commented on #604
You're welcome! If one day you chose to have the app in the official F-Droid repo and want me to remove it from mine, just drop me a note. Due to the size, my repo will only have 1 version of Gitscarios, as my "per-app-limit" is ~20MB (so for apps up to 10MB there are the 2 latest versions, and for apps smaller than 7MB 3 versions kept).

[2016-11-12 19:22] alorma commented on #604
it's ok :b, if there's an option to upload to f-droid automatic, i will try it

[2016-11-12 21:25] IzzySoft commented on #604
You can't upload your APK there. But you can have them compile it from your sources. It will then be signed with their key. I can't give you details on the process (I'm no dev) – but good luck if you go that road. Might take a little until they pick it up, and rules are a bit stronger – but of course you reach more users there, and the trust is higher as they "check the code" (I can only have Viru

[2016-11-13 11:21] rancidfrog commented on #624
I get notifications coming up randomly.
On the top right hand corner all is good,
![](https://s21.postimg.org/5i4v2j9t3/Screenshot_20161113_153728.png)
But, new notifications come up randomly,
![](https://s13.postimg.org/wh6ygeg3r/Screenshot_20161113_234637.png)
sometimes 5 days later even after I already checked them through right corner

[2016-11-13 13:21] KimWahlman opened #632 "Cannot change branch or view source code in the top repository"
*Issue:* Cannot view branches and source code in the top repository.
<br />
<br />> App version: 4.6.6
<br />> Git build hash from settings: 9c5087d
<br />> Device LG 3G
<br />> Device android version 5.0
<br />
<br />*Steps to reproduce:*
<br />This only seem to happen on the top repository, I don't know if it matters that it is at the top. I don't really know how to explain it other than that. C

[2016-11-13 21:12] rancidfrog opened #633 "Cannot create new issue from app"
*Issue:*
<br />
<br />
<br />
<br />> App version
<br />V.4.6.6
<br />>
<br />> Git build hash from settings:
<br />f619d0b
<br />> Device
<br />sony z3compact
<br />> Device android version
<br />N 7.0

*Screenshot :*

Edit,

![](https://s17.postimg.org/wgydu1vsf/Screenshot_20161114_000755.png)

[2016-11-13 21:22] rancidfrog opened #634 "Inserting picture in app adds to end not where cursor is at"
*Issue:*

V.4.6.6

f619d0b

sony z3compact

N 7.0

*Steps to reproduce:*
When inserting picture(emoji and source, too)
It is automatically appended to end and not where cursor is at.
If you see orange line in image below where image should be inserted at cursor position
![](https://s11.postimg.org/ucvxse6nn/Screenshot_20161114_001542.png)

[2016-11-14 08:35] alorma opened #635 "Crash"
Build version: v.4.6.6 <br />

https://github.com/xmuSistone/android-vertical-slide-view

<br />

Build date: 1979-11-30 00:00:00 <br />Current date: 2016-11-14 09:34:44 <br />Device: Huawei Nexus 6P <br /><br />Stack trace:  <br />java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String core.User.getLogin()' on a null object reference<br />	at com.alorma.github.ui.fragme

[2016-11-14 20:50] fahrradflucht opened #636 "Buttons for 1€ and 2€ donations aren't working."
*Issue:*
In the donations screen the buttons for 1€ and 2€ donations do nothing if I tap them. The higher ones work just fine.

App version: v4.6.6

Git build hash from settings: 9c5087d

Device: Sony Xperia Z1 Compact (D5503)

Device android version: 5.1.1

[2016-11-19 10:29] #635 closed, assigned to nobody

[2016-11-19 10:47] #632 closed, assigned to nobody

[2016-11-19 10:47] alorma commented on #632
Fixed

[2016-11-19 12:06] alorma opened #637 "Events tags"
Should be created branch:

![Screenshot_20161119-130527.png](http://i.imgur.com/4OviVcf.png)

[2016-11-19 22:24] natebass opened #638 "Does not compile lambda expression"
When I try to compile the app from source I get this error.
[code]

[2016-11-19 23:53] alorma commented on #638
hi. I will check it.

Could you try to expand the lambda expression, what happens then?

[2016-11-20 01:55] natebass commented on #638
In the editor I pressed alt-enter and "Expand lambda expression body to {...}". Is that what you mean? The code now looks like this, and it gives the same error.

[code]

[2016-11-20 09:51] alorma commented on #638
Weird, could you keep expanding lambda? You should get anonymous classes, and a `?` somewhere, change it to return type of observable. It should work

[2016-11-20 10:30] webmaster33 commented on #633
Is this fixed in latest version?
I think it is.

[2016-11-20 10:31] alorma commented on #633
I guess yes, but there's still some work needed on this

[2016-11-20 10:35] webmaster33 opened #639 "White text on Readme page is unreadable"
White text on Readme page is unreadable.
Should use dark background to be readable.

![Screenshot_20161120-113351.png](http://i.imgur.com/tmUevoY.png)

[2016-11-20 10:36] webmaster33 commented on #622
Can this be closed?

[2016-11-20 10:37] webmaster33 commented on #598
What help is needed?

[2016-11-20 10:39] #622 closed, assigned to alorma

[2016-11-20 10:40] webmaster33 commented on #564
I think it's fixed.

[2016-11-20 10:40] alorma commented on #598
Well. I get html content from github, app should replace the `<img` width and height

[2016-11-20 10:42] webmaster33 opened #640 "Commented or new issue doesn't update on Issues page, even if you refresh it"
Commented or new issue doesn't update on Issues page, even if you refresh it. <br />You have to go to home page & back to have updated.

[2016-11-20 10:45] webmaster33 commented on #622
Can I delete this comment?  ```

[code]

[2016-11-20 10:45] alorma commented on #640
you mean issues should update by `updated`?

[2016-11-20 10:45] webmaster33 commented on #622
Not yet

[2016-11-20 10:46] webmaster33 commented on #538
Delete feature still waiting to be implemented.

[2016-11-20 10:48] webmaster33 commented on #598
Yes. Can I help?

[2016-11-20 10:50] alorma commented on #598
send me a email to `gitskarios@gmail.com` , i will add you to slack so we can discuss it

Thanks!

[2016-11-20 10:51] webmaster33 commented on #640
I mean, when posting a new issue or commenting an issue, the issue tab should be reloaded. But it seems reloading has also problems is started from within the Issues page.

I have to switch to another tab to reload successfully.

[2016-11-20 10:53] webmaster33 commented on #598
Sent

[2016-11-20 10:55] webmaster33 commented on #619
Bump

[2016-11-20 12:24] alorma commented on #637
Bump

[2016-11-20 14:35] alorma commented on #598
Fixed :)

![Screenshot_20161120-151856.png](http://i.imgur.com/jsPGVRZ.png)

Good enough @webmaster33?

[2016-11-20 16:00] KimWahlman opened #641 "Similar issue as in #630 has reappeared."
*Issue:* Repositories doesn't show the current version of the repository.

*Steps to reproduce:* Pretty much the same as in #630, I also tried two other repositories, one worked the other didn't.
*Screenshots*: http://imgur.com/a/NrLW3

*Additional comments*: Seems like some works, others doesn't. I do not know what could cause this.

[2016-11-20 16:29] #641 closed, assigned to nobody

[2016-11-20 16:57] webmaster33 commented on #598
Great! Were the changes pushed to github?

[2016-11-20 16:59] alorma commented on #598
Yes

[2016-11-20 17:00] alorma commented on #598
https://github.com/gitskarios/Gitskarios/commit/d35260d1ade9234d1ee285223d0dc7603b3e0f30

[2016-11-20 17:16] webmaster33 commented on #598
Thanks! Great job!

[2016-11-20 17:18] #598 closed, assigned to nobody

[2016-11-20 18:11] alorma commented on #641
Released

[2016-11-21 02:07] natebass commented on #638
[I tried, and failed](https://github.com/natebass/Gitskarios/commit/1f4b669073cce95956ddf6c34feee815e0c10783). No worries, I deleted that line for now so I can work on something :metal:

[2016-11-24 01:57] Wolfteam opened #642 "Crash while trying to open a repository"
Build version: v.4.7.3
Build date: 1979-11-30 00:00:00
Current date: 2016-11-23 21:44:05
Device: Asus Nexus 7

Stack trace:
java.lang.RuntimeException: Unable to start activity ComponentInfo{com.alorma.github/com.alorma.github.ui.activity.repo.RepoDetailActivity}: android.view.InflateException: Binary XML file line #38: Error inflating class Button
	at android.app.ActivityThread.performLaunchActiv

[2016-11-24 07:09] alorma commented on #642
Repository link plz?

[2016-11-24 12:27] Wolfteam commented on #642
This for exameple :https://github.com/Wolfteam/app
i think all the repos that i have crashes the app, btw im using a nexus 7

[2016-11-25 10:54] dpdani commented on #639
Same here.

[2016-11-28 16:35] rancidfrog commented on #639
this also applies to events section when you click on event and commits pane shows up, all is white on white on dark theme:
![](https://s16.postimg.org/l2xxencyd/Screenshot_20161128_192202.png)

[2016-11-28 16:42] rancidfrog opened #645 "Notification sign out bug"
When there is a notification and you sign out, notification remains even though signed out:
![](https://s14.postimg.org/tkdz35pq9/Screenshot_20161127_132346.png)
And, clicking notification crashes app, (since already signed out, I guess):
[code]

[2016-12-01 13:09] twig opened #646 "double notifications and it seem much noisier on latest release"
I've been using it for a while and it seems nosier than the past.

I've resorted to disabling notifications altogether because of the sound. Please make it optional.

I also seem to be getting double notifications.

1 when I get told about new alerts and a second one when I tap on that notification and then another notification when the app fetches alerts, playing the same "new alert" sound agaon

[2016-12-01 13:31] alorma commented on #646
Hi

I've disabled the sound for notifications.

[2016-12-01 13:32] alorma commented on #646
I not reproduce the double notifications, what android version are you using?

[2016-12-01 13:45] webmaster33 commented on #646
I don't get double notifications under Android 6.0.1, nor 4.1.1. Working fine for me.

However I get too few notifications, and I always get email much earlier, than to get notification from the app.

Note, when I install a Gitskarios update, I don't get notification at all, until I start Gitskarios once. But this true for other apps, too, like Facebook.

[2016-12-01 13:47] alorma commented on #646
Yes, notifications cannot be sent via push.

App does two things:

1) Check for notifications every 30 minutes.
2) Get push of a notifications, if you add a webhook to your repositories:

--> https://cryptic-ravine-97684.herokuapp.com/message

[2016-12-01 15:42] webmaster33 commented on #646
Personally I like notification sound.

[2016-12-01 15:45] alorma commented on #646
@webmaster33 I will add an option to enable / disable it

[2016-12-01 21:54] twig commented on #646
Thanks for your work on it @alorma

I'll try to find a way to record the double notification bug.

[2016-12-02 16:34] webmaster33 opened #647 "Can't attach file to an issue"
There is no possibility to attach file to an issue.

Could you add this feature?

[2016-12-02 16:48] alorma commented on #647
Hi @webmasterr33.

There's no endpoint in the api for that.

Apart from that, i'm stoping to develop gitskarios, as you can read in the blog: http://gitskarios.com

I will do an update, to inform all users, and stop there.

Thanks for your feedback along this time

[2016-12-08 11:34] Pavuucek opened #648 "Notifications don't match with projects"
Pull requests and issues get assigned to projects they don't belong to (see screenshots)

*Steps to reproduce:*
Just open notifications

*Crash (optional):*

*Screenshots*

http://iob.imgur.com/uYGg/lYNM0rm9Vy

[2016-12-14 22:05] ghost opened #649 "Add support to teams"
Add the posibility to switch to a team account, it will be cool!

[2016-12-15 14:57] nisavid commented on #580
GitHub [recently released](https://developer.github.com/changes/2016-12-14-reviews-api/) preview versions of APIs for [Pull Request Reviews](https://developer.github.com/v3/pulls/reviews/) and [Pull Request Review Comments](https://developer.github.com/v3/pulls/comments/).  Of course, while in preview, they are subject to change without notice.  Nonetheless, the current information is available if

[2016-12-20 14:17] GeorgeWL commented on #649
Not sure, but think there's not an API hook for that, I'll have to double-check.

[2016-12-23 18:46] shyim commented on #642
Is the problem still reproducible on your tablet? I tried and cannot find a problem.

[2016-12-23 18:51] Wolfteam commented on #642
nop, the issue was fixed :+1:

[2016-12-23 18:52] shyim commented on #642
Okay :)

[2016-12-23 18:52] #642 closed, assigned to nobody

[2016-12-23 21:50] #634 closed, assigned to nobody

[2017-01-06 13:04] webmaster33 opened #652 "Crash"
Using Samsung Galaxy S4 i9505 jfltexx with stock Android 5.0.1.
Crash happened when changing within repository from Issues tab to Home tab.

Build version: v.4.8.0
Build date: 1979-11-30 00:00:00
Current date: 2017-01-06 13:51:17
Device: Samsung GT-I9505

Stack trace:
android.view.InflateException: Binary XML file line #74: Error inflating class Button
	at android.view.LayoutInflater.createViewFro

[2017-01-06 13:06] webmaster33 commented on #652
Reproduced:
Build version: v.4.8.0
Build date: 1979-11-30 00:00:00
Current date: 2017-01-06 14:05:07
Device: Samsung GT-I9505

Stack trace:
android.view.InflateException: Binary XML file line #74: Error inflating class Button
	at android.view.LayoutInflater.createViewFromTag(LayoutInflater.java:770)
	at android.view.LayoutInflater.rInflate(LayoutInflater.java:813)
	at android.view.LayoutInflater.r

[2017-01-07 08:55] webmaster33 commented on #652
Strange. The crash happens only on my Samsung Galaxy S4 i9505 with stock Android v5.0.1 when I switch from Issues tab to Home tab.
On Samsung Galaxy S3 i9305 with MIUI v5 (Android v4.1.1) switching to Home tab works fine.

So this may be a compatibility problem with Android Lollipop and higher.

[2017-01-14 09:22] call-a3 opened #653 "Commits list of a PR only shows first 8 characters of commit message"
The title says it all. I can provide more info if you ask me specific questions.

[2017-01-20 07:52] webmaster33 commented on #652
Still having crash, when changing to home of a repo:
[code]

[2017-01-20 07:53] webmaster33 opened #654 "Does anyone actively developing Gitskarios?"
Does anyone actively developing Gitskarios?

[2017-01-20 08:11] gitskarios-dev commented on #654
Not from my side

On Fri, Jan 20, 2017, 08:53 webmaster33 <notifications@github.com> wrote:

[2017-01-20 08:21] alorma commented on #654
Not me

[2017-01-22 05:25] justweb1 commented on #654
it's no longer under active development per the message in the app

[2017-01-22 07:59] webmaster33 commented on #654
That's true, but anybody can pick up the development and continue it.

[2017-01-22 18:24] justweb1 commented on #654
why not add additional admins and just keep this project alive as is then the author wouldn't have to do as much work on it.

[2017-01-22 18:57] alorma commented on #654
There are admins, anyone who wants contact me and i will add

[2017-01-26 18:59] webmaster33 commented on #652
Somebody could fix this crash for a small donation?

[2017-01-26 19:03] alorma commented on #652
Hi @webmaster33.

This is not a "pay" project.

Could you try to fix it?

[2017-01-26 19:27] webmaster33 commented on #652
Unfortunately I don't know Java. However I plan to learn it :-)

[2017-03-15 09:49] #433 closed, assigned to nobody

[2017-05-10 09:27] lilicoding commented on #595
Is there someone can explain to me, why the build date is 1979-11-30 00:00:00, which does not make sense, right?

[2017-06-25 12:16] #546 closed, assigned to nobody

[2018-01-05 10:14] #180 closed

[2019-03-13 15:53] dylmye commented on #654
Sorry to bump an old thread, but with the numerous GitHub android alternatives it may be best just to archive this project